.gb-nav {
  background-color: var(--gb-clinical-green-dark);
  height: var(--gb-navbar-height);
  overflow: hidden;
  position: fixed;
  z-index: 100;
}

/* Style the links inside the navigation bar */
.gb-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.gb-nav a:hover {
  background-color: #e3e3e3;
  color: var(--gb-gray-dark);
}

.gb-nav a.active {
  background-color: #fdfdfd;
  color: var(--gb-gray-dark);
}

/* Right-aligned section inside the top navigation */
.gb-nav-right {
  position: fixed;
  z-index: 101;
  background-color: var(--gb-clinical-green-dark);
  right: 1em;
  height: var(--gb-navbar-height);
}

.gb-nav-right a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.gb-nav-right a:hover {
  background-color: #e3e3e3;
  color: var(--gb-gray-dark);
  cursor: pointer;
  height: var(--gb-navbar-height);
}

.gb-nav-right a.active {
  background-color: #fdfdfd;
  color: var(--gb-gray-dark);
}

.gb-nav-right small {
  font-weight: lighter;
  vertical-align: text-bottom;
}
