.gb-navbar {
  background-color: var(--gb-navbar-bg-color);
  overflow: hidden;
  position: fixed;
  top: var(--gb-top-panel-height);
  padding-top: 5px;
  margin-top: 0px;
  z-index: 99;
  border-bottom: 3px solid lightgray;
  padding-bottom: 2px;
  width: 99%;
  font-weight: bold;
}

/*
 * The style for the overview panel on top of data-selection
 * padding and margin: top, right, bottom, left
 * shadow option: text-shadow: 1px 1px 3px black;
 */
.gb-data-selection-overview-panel {
  background-color: rgba(51, 156, 144, 0.1);
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 0.5em 1em 0.5em 1em;
  margin: 3px 16px -2px 0px;
  color: darkslategrey;
  overflow: hidden;
  width: 100%;
  font-size: 0.9em;
}

.gb-data-selection-overview-panel-input {
  margin-bottom: 3px;
  margin-right: 7px;
  max-width: 100%;
  font-size: small;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

/* save btn */
.gb-data-selection-overview-panel-btn {
  margin: .1em;
}
.gb-data-selection-overview-panel-btn:hover {
  background-color: var(--gb-clinical-green);
  opacity: 0.7;
}
.gb-data-selection-overview-panel-btn:active {
  background-color: var(--gb-clinical-green);
  opacity: 0.9;
}

