.gb-nav {
  background-color: var(--gb-clinical-green-dark);
  height: var(--gb-navbar-height);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.gb-nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.gb-nav a:hover {
  background-color: #e3e3e3;
  color: var(--gb-gray-dark);
}

/* Add a color to the active/current link */
.gb-nav a.active {
  background-color: #fdfdfd;
  color: var(--gb-gray-dark);
}

/* Right-aligned section inside the top navigation */
.gb-nav-right {
  float: right;
}
