<div class="form-inline">
  <label>Study </label>

  <p-autoComplete #autoComplete
                  [(ngModel)]="selectedStudies"
                  [suggestions]="searchResults"
                  field="studyId"
                  (completeMethod)="onSearch($event)"
                  (onSelect)="updateStudies($event)"
                  (onUnselect)="updateStudies($event)"
                  (onBlur)="updateStudies($event)"
                  dropdown="true"
                  size="40"
                  (onDropdownClick)="onDropdown($event)"
                  [multiple]="true"></p-autoComplete>

</div>
