<div class="gb-data-selection-container">
  <!-- Saving query -->
  <div class="container form-inline gb-data-selection-top-panel">
    <input id="queryName" type="text"
           class="form-control gb-data-selection-top-panel-input"
           placeholder="Specify cohort name"
           (drop)="preventNodeDrop($event)"
           [(ngModel)]="queryName">
    <button class="btn btn-outline-primary btn-sm gb-data-selection-top-panel-btn"
            (click)="saveQuery()"
            type="button">
      <span *ngIf="isSavingQueryCompleted">Save cohort</span>
      <span *ngIf="!isSavingQueryCompleted">Saving...</span>
    </button>
  </div>

  <gb-selection></gb-selection>


</div>
