<div class="gb-navbar">
  <p-tabMenu [model]="items" [activeItem]="activeItem"></p-tabMenu>

  <!-- The data selection overview panel -->
  <div *ngIf="isDataSelection" class="gb-data-selection-overview-panel">
    <div class="row">
      <div class="col-3">
        <span *ngIf="!isLoadingPatientCount_2">
          {{patientCount_2}} {{singularOrPlural('subject', patientCount_2)}}
        </span>
        <span *ngIf="isLoadingPatientCount_2">
          <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> subjects
        </span>
      </div>
      <div class="col-5">
        <div class="row">
          <span *ngIf="!isLoadingObservationCount_2">
            {{observationCount_2}} {{singularOrPlural('observation', observationCount_2)}}
          </span>
          <span *ngIf="isLoadingObservationCount_2">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> observations
          </span>
        </div>
        <div class="row">
          <span *ngIf="!isLoadingConceptCount_2">
            {{conceptCount_2}} {{singularOrPlural('concept', conceptCount_2)}}
          </span>
          <span *ngIf="isLoadingConceptCount_2">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> concepts
          </span>
        </div>
        <div class="row">
          <span *ngIf="!isLoadingStudyCount_2">
            {{studyCount_2}} {{singularOrPlural('study', studyCount_2)}}
          </span>
          <span *ngIf="isLoadingStudyCount_2">
            <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i> studies
          </span>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <input id="queryName" type="text"
                 class="form-control gb-data-selection-overview-panel-input"
                 placeholder="Query name"
                 (drop)="preventNodeDrop($event)"
                 [(ngModel)]="queryName" >
        </div>
        <div class="row">
          <button class="btn btn-secondary btn-sm gb-data-selection-overview-panel-save-btn"
                  (click)="saveQuery()"
                  type="button">Save query</button>
        </div>
        <div class="row">
          <input id="queryFileUpload"
                 type="file"
                 style="display: none"/>
          <button class="btn btn-secondary btn-sm gb-data-selection-overview-panel-import-btn"
                  (click)="importQuery()"
                  type="button">Import query</button>
        </div>
      </div>
    </div>
  </div>

  <p-messages [(value)]="constraintService.alertMessages"></p-messages>

</div>
