.gb-navbar {
  background-color: #fdfdfd;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 10px;
  z-index: 100;
  border-bottom: 3px solid lightgray;
  padding-bottom: 2px;
  width: 68%;
}

/*
 * The style for the overview panel on top of data-selection
 * padding and margin: top, right, bottom, left
 * shadow option: text-shadow: 1px 1px 3px black;
 */
.gb-data-selection-overview-panel {
  background-color: rgba(51, 156, 144, 0.1);
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 0.5em 1em 0.5em 1em;
  margin: 3px 16px -2px 0px;
  color: darkslategrey;
  overflow: hidden;
  width: 100%;
  font-size: 0.9em;
}

.gb-data-selection-overview-panel-input {
  margin-bottom: 3px;
  margin-right: 7px;
  max-width: 100%;
  font-size: small;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

/* save btn */
.gb-data-selection-overview-panel-save-btn {
  margin: .1em;
}
.gb-data-selection-overview-panel-save-btn:hover {
  background-color: rgba(51, 156, 144, 0.7);
}
.gb-data-selection-overview-panel-save-btn:active {
  background-color: rgba(51, 156, 144, 0.9);
}

/* import btn */
.gb-data-selection-overview-panel-import-btn {
  margin: .1em;
}
.gb-data-selection-overview-panel-import-btn:hover {
  background-color: rgba(51, 156, 144, 0.7);
}
.gb-data-selection-overview-panel-import-btn:active {
  background-color: rgba(51, 156, 144, 0.9);
}

/* update btn */
.gb-data-selection-overview-panel-update-btn {
  background-color: #339c90;
  border-color: transparent;
  color: white;
}

.gb-data-selection-overview-panel-update-btn:hover {
  background-color: #287c73;
  border-color: #287c73;
}

.gb-data-selection-overview-panel-update-btn:active {
  background-color: #236d64;
  border-color: #287c73;
}
