.gb-navbar {
  background-color: #fdfdfd;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-top: 10px;
  z-index: 100;
  border-bottom: 3px solid lightgray;
  padding-bottom: 2px;
  width: 69%;
}
