<div>
  <div class="container">
    <!-- Check and expand buttons -->
    <div class="float-left">
      <span>&nbsp;</span>
      <button type="button" (click)="expandAll(false)"
              class="btn btn-primary btn-sm">Collapse All
      </button>
      <span>&nbsp;</span>
      <p-checkbox [(ngModel)]="queryService.checkAll_2"
                  label="Check all"
                  (onChange)="onCheckChange($event)">
      </p-checkbox>
    </div>

    <!--Import criteria -->
    <div class="float-right" style="margin-right: 2em">
      <button type="button" (click)="importCriteria()"
              class="btn btn-primary btn-sm gb-data-selection-control-btn float-right">Import Criteria
      </button>
      <input id="step2CriteriaFileUpload"
             type="file"
             style="display: none"/>
    </div>
  </div>

  <br>
  <br>
  <p-tree [value]="projectionTreeData"
          selectionMode="checkbox"
          (onNodeSelect)="updateCounts()"
          (onNodeUnselect)="updateCounts()"
          [(selection)]="selectedProjectionTreeData"
          styleClass="gb-projection-tree-container">
  </p-tree>

  <!-- the loading indicator -->
  <div *ngIf="!isTreeNodeLoadingCompleted" style="margin: auto;">
    <p class="loading-blink"><span>•</span><span>•</span><span>•</span></p>
  </div>

</div>
