.gb-data-table-container {
  font-size: small;
}

.gb-data-table-header {
  border-left: 3px var(--gb-clinical-green-dark) solid;
  border-right: 3px var(--gb-clinical-green-dark) solid;
  background-color: var(--gb-clinical-green-light-light);
}

.gb-data-table-pagination-container {
  margin: 10px 0px 0px 0px;
  text-align: center;
}

.gb-data-table-pagination-container .btn-outline-secondary {
  color: GrayText;
  border: none;
}

.gb-data-table-pagination-container .btn-outline-secondary:hover {
  background-color: var(--gb-clinical-green-light-light);
}

.gb-data-table-pagination-container .btn-outline-secondary:active {
  font-weight: bolder;
  background-color: var(--gb-clinical-green-light-light);
}
