<p-accordion>
  <p-accordionTab header="Tree" [selected]="true">
    <tree-nodes></tree-nodes>
  </p-accordionTab>
  <p-accordionTab header="Studies">
    studies
  </p-accordionTab>
  <p-accordionTab header="Concepts">
    concepts
  </p-accordionTab>
  <p-accordionTab header="Saved Patient Sets">
    <saved-patient-sets></saved-patient-sets>
  </p-accordionTab>
  <p-accordionTab header="Saved Observation Sets">
    <saved-observation-sets></saved-observation-sets>
  </p-accordionTab>
</p-accordion>
