<div>
  <div class="form-inline">
    <label>Concept: </label>
    <p-autoComplete #autoComplete
                    [(ngModel)]="selectedConcept"
                    [suggestions]="searchResults"
                    field="label"
                    (completeMethod)="onSearch($event)"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                    styleClass="gb-concept-constraint-input"
                    size="60"
                    dropdown="true"
                    (onDropdownClick)="onDropdown($event)"></p-autoComplete>
  </div>

  <!-- if the concept is NUMERIC -->
  <div *ngIf="isNumeric()" class="form-inline">
    <span>with value</span>
    <button type="button" class="btn btn-outline-secondary concept-constraint-operator-state-btn"
            (click)="switchOperatorState()">
      {{getOperatorButtonName()}}
    </button>

    <div *ngIf=" isBetween() " class="d-inline-block">
      <input type="number" class="form-control col-sm-4" placeholder="min:{{minLimit}}"
             [(ngModel)]="minVal"
             (ngModelChange)="updateConceptValues()">
      <label class="form-check-label d-inline-block">
        <p-checkbox [(ngModel)]="isMinEqual" binary="true"
                    (ngModelChange)="updateConceptValues()"></p-checkbox>
      </label>
      <span>&nbsp;and&nbsp;</span>
      <input type="number" class="form-control col-sm-4" placeholder="max:{{maxLimit}}"
             [(ngModel)]="maxVal"
             (ngModelChange)="updateConceptValues()">
      <label class="form-check-label d-inline-block">
        <p-checkbox [(ngModel)]="isMaxEqual" binary="true"
                    (ngModelChange)="updateConceptValues()"></p-checkbox>
      </label>
    </div>

    <div *ngIf=" !isBetween() " class="d-inline-block">
      <input type="number" class="form-control col-sm-8"
             [(ngModel)]="equalVal"
             (ngModelChange)="updateConceptValues()">
    </div>

  </div>

  <!-- if the concept is CATEGORICAL -->
  <div *ngIf="isCategorical()" class="v-align-center form-inline">
    <span>with values</span>
    <p-autoComplete #categoricalAutoComplete
                    [(ngModel)]="selectedCategories"
                    [suggestions]="suggestedCategories"
                    (completeMethod)="onCategorySearch($event)"
                    (onSelect)="updateConceptValues($event)"
                    (onUnselect)="onUnselectCategories($event)"
                    [multiple]="true"></p-autoComplete>
    <button type="button" class="btn btn-outline-secondary"
            (click)="selectAllCategories()">
      Select all
    </button>
    <button type="button" class="btn btn-outline-secondary"
            (click)="clearAllCategories()">
      Clear
    </button>
  </div>

  <!--  if the concept is DATE -->
  <div *ngIf="isDate()" class="form-inline">
    <span>with date</span>
    <button type="button" class="btn btn-outline-secondary concept-constraint-operator-state-btn"
            (click)="switchValDateOperatorState()" [ngSwitch]="valDateOperatorState">
      <i *ngSwitchCase="ValDateOperatorState.BEFORE">before </i>
      <i *ngSwitchCase="ValDateOperatorState.AFTER">after </i>
      <i *ngSwitchCase="ValDateOperatorState.BETWEEN">between </i>
      <i *ngSwitchCase="ValDateOperatorState.NOT_BETWEEN">not between </i>
    </button>
    &nbsp;
    <p-calendar [(ngModel)]="valDate1"
                dateFormat="dd-mm-yy"
                showTime="true"
                showSeconds="true"
                hourFormat="24"
                (ngModelChange)="updateConceptValues()"
                utc="true"></p-calendar>
    <div *ngIf="[ValDateOperatorState.BETWEEN, ValDateOperatorState.NOT_BETWEEN].includes(valDateOperatorState)">
      <span>&nbsp;and&nbsp;</span>
      <p-calendar [(ngModel)]="valDate2"
                  dateFormat="dd-mm-yy"
                  showTime="true"
                  showSeconds="true"
                  hourFormat="24"
                  (ngModelChange)="updateConceptValues()"
                  utc="true"></p-calendar>
    </div>
  </div>

  <!-- observation date range constraint -->
  <div class="form-inline">
    <p-checkbox [(ngModel)]="applyObsDateConstraint" binary="true"></p-checkbox>
    <label *ngIf="!applyObsDateConstraint" class="gray-text">apply observation-date constraint</label>
    <div *ngIf="applyObsDateConstraint" class="form-inline">
      <span>and observation date &nbsp;</span>
      <button type="button" class="btn btn-outline-secondary concept-constraint-operator-state-btn"
              (click)="switchObsDateOperatorState()" [ngSwitch]="obsDateOperatorState">
        <i *ngSwitchCase="ObsDateOperatorState.BEFORE">before </i>
        <i *ngSwitchCase="ObsDateOperatorState.AFTER">after </i>
        <i *ngSwitchCase="ObsDateOperatorState.BETWEEN">between </i>
        <i *ngSwitchCase="ObsDateOperatorState.NOT_BETWEEN">not between </i>
      </button>
      &nbsp;
      <p-calendar [(ngModel)]="obsDate1"
                  (ngModelChange)="updateObservationDateValues()"
                  dateFormat="dd-mm-yy"
                  showTime="true"
                  showSeconds="true"
                  hourFormat="24"
                  utc="true"></p-calendar>
      <div *ngIf="[ObsDateOperatorState.BETWEEN, ObsDateOperatorState.NOT_BETWEEN].includes(obsDateOperatorState)">
        <span>&nbsp;and&nbsp;</span>
        <p-calendar [(ngModel)]="obsDate2"
                    (ngModelChange)="updateObservationDateValues()"
                    dateFormat="dd-mm-yy"
                    showTime="true"
                    showSeconds="true"
                    hourFormat="24"
                    utc="true"></p-calendar>
      </div>
    </div>
  </div>


  <!-- trial visit constraint -->
  <div class="form-inline">
    <p-checkbox [(ngModel)]="applyTrialVisitConstraint" binary="true"></p-checkbox>
    <label *ngIf="!applyTrialVisitConstraint" class="gray-text">apply trial-visit constraint</label>
    <div *ngIf="applyTrialVisitConstraint">
      <span>and trial visits </span>
      <p-autoComplete #trialVisitAutoComplete
                      [(ngModel)]="selectedTrialVisits"
                      [suggestions]="suggestedTrialVisits"
                      (completeMethod)="onTrialVisitSearch($event)"
                      (onSelect)="updateTrialVisitValues($event)"
                      (onUnselect)="onUnselectTrialVisit($event)"
                      dropdown="true"
                      field="relTimeLabel"
                      (onDropdownClick)="onTrialVisitDropdown($event)"
                      [multiple]="true"></p-autoComplete>
      <button type="button" class="btn btn-outline-secondary"
              (click)="selectAllTrialVisits()">
        Select all
      </button>
      <button type="button" class="btn btn-outline-secondary"
              (click)="clearAllTrialVisits()">
        Clear
      </button>
    </div>
  </div>

  <br>
</div>
