<div>
  <div *ngIf="isExport">
    <div class="checkAllText">
      <p-checkbox [(ngModel)]="allChecked" binary="true"
                  (onChange)="checkAll($event)"></p-checkbox>
      {{checkAllText}}
    </div>
  </div>

  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let catVar of categorizedVariables" expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{catVar.type}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <div *ngFor="let concept of catVar.elements"
             [pDraggable]="variablesDragDropScope"
             (dragstart)="onDragStart($event, concept)"
             class="variable">
          <p-checkbox *ngIf="isExport" [(ngModel)]="concept.selected"
                      binary="true" (onChange)="updateCheckAllText()"></p-checkbox>

          {{concept.name}} ({{concept.counts.subjectCount}})
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
