<div>

  <mat-accordion [multi]="true">
    <mat-expansion-panel *ngFor="let catNode of categorizedVariablesTree" expanded="{{catNode.expanded}}">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{catNode.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div>
        <div *ngFor="let varNode of highlightedVariablesFirst(catNode.children)"
             [pDraggable]="variablesDragDropScope"
             (dragstart)="onDragStart($event, varNode)"
             class="variable">
          <p-checkbox *ngIf="isExport" [ngModel]="isSelected(varNode)" binary="true"
                      (onChange)="onCheck($event, varNode)"></p-checkbox>

          <span [ngClass]="{'gb-highlight-treenode': isHighlighted(varNode)}">
            {{varNode.name}} ({{varNode.subjectCount}})
          </span>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
