.fractalis-visual-container {
  margin-top: 0.5em;
  margin-bottom: 2em;
  height: auto;
}

.fractalis-chart-hidden {
  display: none;
}

.settings-container {
  margin-bottom: 0.5em;
  font-size: small;
  color: grey;
}
.settings-container button {
  min-width: 6em;
}

:host >>> .settings-slider {
  width: 16em;
  margin-left: 1em;
  margin-right: 1em;
}

.close-btn-row {
  margin: 0.1em;
}
.close-btn-row .mat-icon-button {
  width: 2em;
  height: 2em;
}
.close-btn-row .mat-icon-button:hover {
  background-color: lightgray;
}
.close-btn-row mat-icon {
  vertical-align: baseline;
  font-size: 1.5em;
}
