<div class="fractalis-visual-container">

  <div class="settings-container form-inline">
    <button type="button" class="btn btn-primary btn-sm" (click)="onClearCharts()">Clear</button>
    <p-slider [(ngModel)]="chartSize" styleClass="settings-slider" [animate]="true"></p-slider>
    <h6>Size: {{chartSize}}</h6>
  </div>

  <div class="charts">
    <div *ngFor="let chart of charts">
      <span [ngClass]="{'fractatis-chart-hidden': !chart.isValid}">
        <button mat-icon-button color="primary" (click)="onRemoveChart($event, chart)">
          <mat-icon aria-label="Close the chart">close</mat-icon>
        </button>
        <gb-fractalis-chart [chart]="chart"></gb-fractalis-chart>
      </span>
    </div>
  </div>

</div>
