<div class="fractalis-visual-container">

  <div class="clear-btn-container">
    <button type="button" class="btn btn-primary btn-sm" (click)="clearCharts()">Clear</button>
  </div>

  <gridster [options]="options">
    <gridster-item [item]="chart.gridsterItem" *ngFor="let chart of charts">
      <div>
        <span class="close-btn-row float-right">
          <button mat-icon-button color="primary" (click)="removeChart($event, chart)">
            <mat-icon aria-label="Close the chart">close</mat-icon>
          </button>
        </span>
        <gb-fractalis-chart [chart]="chart"></gb-fractalis-chart>
      </div>
    </gridster-item>
  </gridster>
</div>
