.import-btn {
  font-size: small;
  padding-top: 3px;
  padding-bottom: 3px;
}

:host >>> .view-mode-button {
  font-size: small !important;
  margin-bottom: 3px !important;
}

.checkAllText {
  font-size: small;
  padding: 0.5em;
  color: grey;
}

.variable-mode-selection-container {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  font-size: small;
}
