<div>

  <!-- Child Constraints -->
  <constraint *ngFor="let child of children"
              [constraint]="child"
              (constraintRemoved)="onConstraintRemoved(child)"></constraint>

  <div class="form-inline">

    <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    <p-autoComplete #autoComplete
                    [(ngModel)]="selectedConstraint"
                    [suggestions]="searchResults"
                    field="textRepresentation"
                    (completeMethod)="onSearch($event)"
                    (onSelect)="onSelect($event)"
                    size="40"
                    dropdown="true"
                    (onDropdownClick)="onDropdown($event)"
                    placeholder="add criterion"></p-autoComplete>

  </div>

</div>
