<div class="constraint-comp">

  <!-- Negation, ANd, OR -->
  <div class="btn-group">
    <label class="form-check-label">
      <input [(ngModel)]="constraint.NOT" class="form-check-input" type="checkbox">
      NOT
    </label>

    <button type="button"
            [ngClass]="{'btn': true, 'btn-outline-primary': true, 'btn-sm': true,
            'constraint-btn-toggled': constraint.AND }"
            (click)="toggleAndOr()">
      AND
    </button>
    <button type="button"
            [ngClass]="{'btn': true, 'btn-outline-primary': true, 'btn-sm': true,
            'constraint-btn-toggled': constraint.OR }"
            (click)="toggleAndOr()">
      OR
    </button>
  </div>

  <!-- Add rule, group, and Remove button -->
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-outline-primary btn-sm constraint-btn"
            (click)="addRule()">
      Add rule
    </button>

    <button type="button" class="btn btn-outline-primary btn-sm constraint-btn"
            (click)="addRuleSet()">
      Add group
    </button>

    <button type="button" class="btn btn-outline-danger btn-sm constraint-btn"
            (click)="removeSelfComponent()">
      Remove
    </button>
  </div>


  <!-- Child Constraints -->
  <div *ngFor="let child of constraint.getChildConstraints()">
    <constraint [constraint]="child"></constraint>
  </div>

</div>
