<div>

  <div class="gb-data-selection-accordion-header">
    <div class="gb-data-selection-accordion-sub-header-1">
      Define your MedCo Explore query
    </div>
    <div class="gb-data-selection-accordion-sub-header-2">
      <span class="gb-data-selection-accordion-sub-header-3 float-left">
        <span class="gb-data-selection-emphasis-text">{{globalCount | async}} subjects</span>
      </span>
      <span class="float-right">
        <i *ngIf="queryService.isUpdating" class="fa fa-circle-o-notch fa-spin"></i>

        <!-- disabled button during query -->
        <button *ngIf="!queryService.isUpdating && constraintService.hasConstraint(); else disabledButton"
          type="button"
          (click)="execQuery($event)"
          class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
          {{queryService.isDirty? 'gb-explore-query-btn-dirty' : ''}}">
          Query
        </button>
        <ng-template #disabledButton>
        <button type="button" disabled class="btn btn-outline-primary btn-sm gb-data-selection-update-btn">
          Query
        </button>
        </ng-template>
      </span>

      <!-- display of explore query type -->
      <span *ngIf="queryType; else noAuthorization" class="float-right">
        Query Type: {{queryType.name}}
      </span>
      <ng-template #noAuthorization>
        <span class="float-right">No authorization for explore query.</span>
      </ng-template>

    </div>
  </div>
  <gb-selection></gb-selection>

</div>
