<div>



  <div class="gb-data-selection-accordion-header">
    <div class="gb-data-selection-accordion-sub-header-1">
      Define your MedCo Explore query
    </div>
    <div class="gb-data-selection-accordion-sub-header-2">
      <span style="display: flex; align-items: center;">
        <span class="gb-data-selection-accordion-sub-header-3 float-left">
          <span class="gb-data-selection-emphasis-text">{{globalCount | async}} subjects</span>
        </span>
        <span id="save-box">
          <input [(ngModel)]="cohortName" pInputText (keydown)="saveIfEnter($event)" placeholder="Cohort name" (drop)="preventDefault($event)" pTooltip="TEST"/>
          <span>&nbsp;</span>
          <button
            class="btn btn-outline-primary btn-sm gb-data-selection-overview-panel-btn {{lastSuccessfulSet ?  '' : 'gb-explore-waiting-cohort'}}"
            type="button" [disabled]="!lastSuccessfulSet" (click)="save()">

            <span>Save</span>

          </button>
        </span>
      </span>
      <span style="display: flex; align-items: center;">

        <!-- display of explore query type -->
        <span *ngIf="queryType; else noAuthorization" class="float-right gb-data-selection-text">
          Allowed Result Type: <b>{{queryType.name}}</b>
        </span>
        <ng-template #noAuthorization>
          <span class="float-right">No authorization for explore query.</span>
        </ng-template>

        <span>
          <!-- disabled button during query -->
          <button *ngIf="!isUpdating && hasConstraint; else disabledButton" type="button"
            (click)="execQuery($event)" class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
            {{isDirty? 'gb-explore-query-btn-dirty' : ''}}">
            Run
          </button>
          <ng-template #disabledButton>
            <button type="button" disabled class="btn btn-outline-primary btn-sm gb-data-selection-update-btn">
              Run
            </button>
          </ng-template>

          <i *ngIf="isUpdating" class="fa fa-circle-o-notch fa-spin" style="padding-left: .5em; padding-right: .5em;"></i>
        </span>
      </span>
    </div>
  </div>

  <div style="margin-top: 1em;">
    <gb-selection [operationType]="OperationType.EXPLORE"></gb-selection>
  </div>

</div>
