.gb-container {
  display: flex;
  overflow: hidden;
  height: 100vh;
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}

.left-split-area {
  margin-top: var(--gb-navbar-height-extra) !important;
}

.gb-router-outlet-container {
  padding-left: 1px;
}
