<div class="gb-container">
  <!-- Top panel -->
  <div class="gb-top-panel">
      <span class="float-right">
        <button type="button" id="logout" class="btn btn-outline-secondary"
                (click)="logout()">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </span>
  </div>

  <!-- Split main panel -->
  <split direction="horizontal" [gutterSize]="10" class="gb-main-panel">
    <split-area [size]="25">
      <gb-side-panel></gb-side-panel>
    </split-area>
    <split-area [size]="75">
      <gb-nav-bar></gb-nav-bar>
      <div class="gb-router-outlet-container">
        <router-outlet></router-outlet>
      </div>
    </split-area>
  </split>

</div>
