<div #parentContainer class="gb-container">
  <div class="gb-container">
    <!-- Top panel -->
    <div class="gb-top-panel">
      <span class="float-left">
        <b>MedCo Web Client</b>
        <img style="margin-left: 5px" width="20px" height="20px" src="assets/icons/medco-favicon-32x32.png" />
      </span>
      <span class="float-right">
        Logged in as <i>{{authenticationService.username}}</i>.
        <button type="button" id="logout" class="btn btn-outline-secondary"
                (click)="authenticationService.logout">
          <i class="fa fa-sign-out" aria-hidden="true"></i>
        </button>
      </span>
    </div>
    <!-- Left panel -->
    <div #leftPanel class="gb-left-panel">
      <gb-side-panel></gb-side-panel>
    </div>

    <!-- Middle split bar -->
    <div #gutter class="gutter"></div>

    <!-- Right panel -->
    <div #rightPanel class="gb-right-panel">
      <gb-nav-bar></gb-nav-bar>
      <div class="gb-router-outlet-container">
        <router-outlet></router-outlet>
      </div>

    </div>

    <!-- Bottom panel -->
    <div class="gb-bottom-panel">
      <span>{{footerText}}</span>
    </div>
  </div>
</div>
