
<div>

  <!-- Inclusion criteria -->
  <div #inclusionCriteriaBox
       class="criteria-box">
    <p><b>Inclusion</b> criteria:</p>
    <div class="patient-count-box">
      <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="constraintService.loadingStateInclusion == 'loading'"></i>
      <span [@notifyState]="constraintService.loadingStateInclusion">{{inclusionPatientCount}} patients included.</span>
    </div>
    <constraint #rootInclusionConstraintComponent
                [constraint]="rootInclusionConstraint"
                [isRoot]="true"></constraint>
  </div>

  <!-- Exclusion criteria -->
  <div #exclusionCriteriaBox
       class="criteria-box">
    <p><b>Exclusion</b> criteria:</p>
    <div class="patient-count-box">
      <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="constraintService.loadingStateExclusion == 'loading'"></i>
      <span [@notifyState]="constraintService.loadingStateExclusion">{{exclusionPatientCount}} patients excluded.</span>
    </div>
    <constraint #rootExclusionConstraintComponent
                [constraint]="rootExclusionConstraint"
                [isRoot]="true"></constraint>
  </div>


  <!-- Run patient query and save patient set -->
  <hr>
  <div class="patient-count-box">
    <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="constraintService.loadingStateTotal == 'loading'"></i>
    <span [@notifyState]="constraintService.loadingStateTotal">{{patientCount}} patients match your selection.</span>
  </div>

  <hr>
  <div class="form-inline">
    <input type="text" id="patientSetName" class="form-text" placeholder="Patient set name (optional)" [(ngModel)]="patientSetName" >
    <button type="button" class="btn btn-primary" (click)="savePatientSet()"> Save patient set </button>
  </div>

  <div class="form-inline" *ngIf="constraintService.patientSetPostResponse != null">
    <span>Your patient set <b>{{constraintService.patientSetPostResponse.description}}</b>
      with <b>{{constraintService.patientSetPostResponse.setSize}}</b> patients has been saved
      with the identifier <b>{{constraintService.patientSetPostResponse.id}}</b></span>
  </div>

</div>
