<div class="gb-table-dimension-container">
  <p-pickList [source]="rows" [target]="cols"
              sourceHeader="Rows" targetHeader="Columns" [responsive]="true"
              filterBy="name" [dragdrop]="true"
              [metaKeySelection]="false"
              sourceFilterPlaceholder="Search by name"
              targetFilterPlaceholder="Search by name"
              [showSourceControls]="false"
              [showTargetControls]="false"
              [sourceStyle]="{'height':'300px'}"
              [targetStyle]="{'height':'300px'}">
    <ng-template let-dim pTemplate="item">
      <div>
        <p-checkbox [(ngModel)]="dim.selected" binary="true"></p-checkbox>
        {{dim.name}}
      </div>
    </ng-template>
  </p-pickList>
</div>
