<div class="gb-table-dimension-container">
  <p-pickList [source]="rowDimensions" [target]="columnDimensions"
              sourceHeader="Rows" targetHeader="Columns" [responsive]="true"
              filterBy="name" [dragdrop]="true"
              [metaKeySelection]="false"
              sourceFilterPlaceholder="Search by name"
              targetFilterPlaceholder="Search by name"
              [showSourceControls]="false"
              [showTargetControls]="false"
              [sourceStyle]="{'height':'300px'}"
              [targetStyle]="{'height':'300px'}">
    <ng-template let-dimension pTemplate="item">
      <div>
        <p-checkbox [(ngModel)]="dimension.selected" binary="true"></p-checkbox>
        <span>{{dimension.name}}</span>
      </div>
    </ng-template>
  </p-pickList>
</div>
