<div class="export-container">

  <!---------------------- create new export ---------------------->
  <div class="export-section-banner">
    <h5>Create new export for the currently selected data</h5>
  </div>

  <div *ngIf="exportFormats.length > 0" class="gb-export-format-container">

    <!-- area to indicate which data formats to export -->
    <div class="gb-export-format-header">Select data types and formats to export:</div>
    <div *ngFor="let exportFormat of exportFormats">
      <span class="row">
        <span class="ui-grid ui-grid-responsive ui-fluid gb-export-format-item">
          <p-checkbox [(ngModel)]="exportFormat.checked" binary="true"></p-checkbox>
          {{exportFormat.name}}
        </span>
        (&nbsp;
        <span *ngFor="let fileFormat of exportFormat.fileFormats">
          <p-checkbox [(ngModel)]="fileFormat.checked" binary="true"></p-checkbox>
          {{fileFormat.name}} &nbsp;
        </span>
        )
      </span>
    </div>

    <!-- export name input and button -->
    <div class="form-inline gb-export-btn-container">
      <input id="exportJobNameInput" type="text" class="form-text"
             placeholder="Export job name"
             (drop)="onExportJobNameInputDrop($event)"
             [(ngModel)]="exportJobName">
      <span>&nbsp;</span>
      <button type="button" class="btn btn-primary btn-sm"
              (click)="createExportJob()">Create Export</button>
      <span>&nbsp;</span>
      <div *ngIf="exportDataView === 'surveyTable'">
        <p-checkbox class="gb-include-date-columns-checkbox" [(ngModel)]="dateColumnsIncluded" binary="true"></p-checkbox>
        Include measurement date columns
      </div>
    </div>
  </div>

  <!-- the spinning icon -->
  <div *ngIf="isLoadingExportFormats">
    <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
  </div>

  <hr>

  <!---------------------- previous exports ---------------------->
  <div class="export-section-banner">
    <h5>Previous Exports</h5>
  </div>

  <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #globalFilter type="text" pInputText size="50" placeholder="Filter the table">
  </div>
  <p-dataTable #dt
               sortField="jobStatusTime"
               sortOrder="-1"
               [value]="exportJobs"
               [rows]="10" [paginator]="true"
               [globalFilter]="globalFilter">
    <p-column field="jobName" header="Name"
              [sortable]="true"
              [filter]="true" filterPlaceholder="Filter column">

    </p-column>
    <p-column field="jobStatus" header="Status"
              [sortable]="true"
              [filter]="true" filterPlaceholder="Filter column">

    </p-column>
    <p-column field="jobStatusTime" header="Time"
              [sortable]="true"
              [filter]="true" filterPlaceholder="Filter Column">
    </p-column>
    <p-column>
      <ng-template pTemplate="header">
      </ng-template>
      <ng-template let-job="rowData" pTemplate="body">
        <button type="button"
                *ngIf="job.jobStatus === 'Completed'"
                class="btn btn-outline-primary btn-sm"
                [disabled] = "job.isInDisabledState"
                (click)="downloadExportJob(job)">
          <span class="fa fa-download"></span>
          Download
        </button>
        <button type="button"
                *ngIf="['Completed','Error','Cancelled'].indexOf(job.jobStatus) < 0;else archive"
                class="btn btn-outline-primary btn-sm"
                [disabled] = "job.isInDisabledState"
                (click)="cancelExportJob(job)">
          <span class="fa fa-times"></span>
          Cancel
        </button>
        <ng-template #archive>
          <button type="button"
                  class="btn btn-outline-primary btn-sm"
                  [disabled] = "job.isInDisabledState"
                  (click)="archiveExportJob(job)">
            <span class="fa fa-archive"></span>
            Archive
          </button>
        </ng-template>
      </ng-template>
    </p-column>
  </p-dataTable>


</div>


