.padded{
    float: right;
    padding-right: 0.3em;
}


.subgroup-selection{
    margin-left:0.2em;
}




.selectbutton:hover{
    background-color: var(--gb-clinical-green) !important;
    color:white !important;
}

.selectbutton:not(hover){
    background-color: white !important;
    color:var(--gb-clinical-green)!important;
    border-color: var(--gb-clinical-green) !important;
}

#plus{
    padding: 0.0em;

    padding-left: 1.1em;
    padding-right: 1.1em;
}

#plus:not(hover){
    color:var(--gb-clinical-green-light);
    border-color: var(--gb-clinical-green-light);
    background-color:white;
}

#plus:hover{
    color:var(--gb-clinical-green-dark);
    border-color: var(--gb-clinical-green-dark);
    background-color:white;
}

p-togglebutton:not(hover){
    color:var(--gb-clinical-green-light)  !important;
    border-color: var(--gb-clinical-green-light) !important;
    background-color:white !important;

}


#gb-cohort-landing-zone-component .ui-togglebutton {
    color:var(--gb-clinical-green-light)  !important;
    border-color: var(--gb-clinical-green-light) !important;
    background-color:white !important;
    margin-right:0.2em;
    padding-top: 0em;
    padding-bottom: 0em;
}

#gb-cohort-landing-zone-component .ui-togglebutton.ui-state-active{
    color:white  !important;
    border-color: var(--gb-clinical-green-dark) !important;
    background-color:var(--gb-clinical-green-dark) !important;
}

.subgroup{
    height:500px;
}

