<p-accordionTab header="Subgroups" *ngIf="activated" id="gb-cohort-landing-zone-component" [(selected)]="expanded">


  <div class="small-font">

    <div>
        <p-selectButton [options]="subGroups" [(ngModel)]="selectedSubGroup" (onChange)="loadSubGroup($event)">
        </p-selectButton>
      <br>
      <br>
      <p-button icon="fa fa-plus" label="Save" (onClick)='addSubGroup($event)' [disabled]="subGroups.length >= 4 ">
      </p-button>
      &nbsp;
      <p-button icon="fa fa-minus" label="Remove" (onClick)='removeSubGroup($event)' [disabled]="selectedSubGroup == null ">
      </p-button>
      &nbsp;
      <p-button icon="fa fa-minus" label="Remove all" (onClick)='removeAll()' [disabled]="subGroups.length === 0">
      </p-button>
    </div>
    <br>
    <div class="small-font">
      <p-button label="Reset" (onClick)='reset()'>
      </p-button>
    </div>

    <div class="input-label-wrapper">
      <div>
        <label for="subgroupName" >
          Subgroup name:
        </label>
      </div>
      <input class="input-field input-field-margin" id="subgroupName" type="text" pInputText [(ngModel)]="name" (drop)="preventDefault($event)" placehodler="subgroup name" />
    </div>

    <div style="margin-top: 3em;">
      <gb-selection [operationType] = "OperationType.ANALYSIS"></gb-selection>
    </div>
  </div>


</p-accordionTab>
