<p-accordionTab header="Cohort" *ngIf="activated" id="gb-cohort-landing-zone-component">

    
    <div *ngIf="!dedicated" >
        <div (drop)="drop($event)"  (dragover)="draggingmode($event)">
            <p-card >
                <p>Select a cohort</p>
            </p-card> 

        </div>

    </div>
    
    <div *ngIf="dedicated">
        <p-button (click)="run()" label="Run" class="ui-button-secondary"></p-button>
        
            <span>{{cohort.name}}</span>
            <div class="padded">
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Mark as important"
                        tooltipPosition="top" placeholder="Top"
                        (click)="dedicated=false;"
                        label="Remove">
                </button>
            </div>


            <br>  


                <p-toggleButton *ngFor="let subGroup of cohort.subGroups"
                [onLabel]="subGroup.name"
                [offLabel]="subGroup.name"></p-toggleButton>

                <button pButton style="padding-left: 1.1em; padding-right: 1.1em;"
                    pTooltip="Mark as important"
                    tooltipPosition="top" placeholder="Top"
                    (click)="subgroup=true;"
                    icon="fa fa-plus">
                </button>

       
        
    </div>

</p-accordionTab>
<app-gb-subgroup [(activated)]="subgroup"></app-gb-subgroup>
<app-gb-survival-settings [activated]="dedicated"></app-gb-survival-settings>
<app-gb-survival-res [activated]="ran"></app-gb-survival-res>
