<div [@notifyState]="loadingTreeNodes">

  <!-- the tree itself -->
  <p-tree [value]="treeNodes"
          (onNodeExpand)="expandNode($event)"
          draggableNodes="true"
          styleClass="gb-tree-container"></p-tree>

  <!-- the metadata popup -->
  <p-overlayPanel #treeNodeMetadataPanel
                  [dismissable]="true"
                  [showCloseIcon]="true">
    <!--{{metadataContent}}-->
    <div *ngFor="let item of metadataContent">
      <div class="ui-grid-row gb-metadata-row">
        {{item.key}}: {{item.val}}
      </div>
    </div>

  </p-overlayPanel>


  <!-- the spinning icon -->
  <i class="fa fa-spin fa-refresh fa-fw gb-spinner"
     [class.loading]="loadingTreeNodes == 'loading'"></i>

</div>

