<div class="table-container">

  <!-- Header and description -->
  <div class="description">
    Cross table
    <i class="fa fa-info"
       matTooltip="Drag categorical variables from the &lsquo;Variables&rsquo; section on the left
       into the &lsquo;drop zones&rsquo; below to create rows and columns of groups of patients
       for different values. The table displays the patient count of the intersection of these groups."
       aria-label="Tooltip on how to use the cross table"></i>
  </div>

  <!-- The cross table -->
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <gb-droppable-zone [disabled]="isUpdating" [constraints]="columnConstraints" [axis]="AxisType.COL"></gb-droppable-zone>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <gb-droppable-zone [disabled]="isUpdating" [constraints]="rowConstraints" [axis]="AxisType.ROW"></gb-droppable-zone>
    </div>
    <div class="col-md-9">
      <!-- when the table is still updating -->
      <gb-loading [loading]="isUpdating"></gb-loading>

      <!-- when the table finished updating, the table content goes here -->
      <div *ngIf="!isUpdating">
        <p-table [autoLayout]="true" [value]="rows" [columns]="cols" [customSort]="true">

          <!-- table body -->
          <ng-template pTemplate="body" let-row let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column"
                  [ngClass]="{'header': row.data[col.field]['isHeader']}">
              <span>
                {{formatCountNumber(row.data[col.field]['value'])}}
              </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>

</div>
