<div class="gb-cross-table-container">

  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <gb-droppable-zone [constraints]="columnConstraints"></gb-droppable-zone>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <gb-droppable-zone [constraints]="rowConstraints"></gb-droppable-zone>
    </div>
    <div class="col-md-10">
      <!-- spinning icon goes here -->
      <div *ngIf="isUpdating">
        <p class="loading-blink"><span>•</span><span>•</span><span>•</span></p>
      </div>

      <!-- the table content goes here -->
      <div *ngIf="!isUpdating">
        <p-table [value]="rows" [columns]="cols" [resizableColumns]="true" [customSort]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn
                  class="gb-cross-table-top-header"
                  style="color: transparent">
              <span>
                {{col.header}}
              </span>
              </th>
            </tr>
          </ng-template>

          <!-- table body -->
          <ng-template pTemplate="body" let-row let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column"
                  [ngClass]="{'gb-cross-table-header': row.data[col.field]['isHeader']}">
              <span>
                {{row.data[col.field]['value']}}
              </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>

</div>
