.gb-cross-table-container {
  font-size: small;
}

.gb-cross-table-top-header {
  border-left: 3px var(--gb-clinical-green-dark) solid;
  border-right: 3px var(--gb-clinical-green-dark) solid;
  border-top: transparent;
  background-color: transparent;
}

.gb-cross-table-header {
  background-color: var(--gb-clinical-green-light-light);
  font-weight: bold;
  color: #2d353c;
}
