<div class="gb-cross-table-container">

  <!-- Header and description -->
  <div class="gb-cross-table-description">
    Cross Table
    <i class="fa fa-info" (mouseenter)="gb_cross_table_info.show($event)"
       (mouseleave)="gb_cross_table_info.hide($event)"></i>
  </div>

  <p-overlayPanel #gb_cross_table_info
                  [dismissable]="true"
                  [showCloseIcon]="false"
                  [style]="{'background':'#339C90', 'width': '50%'}">
    <div class="gb-cross-table-info-text">
      Create a cross table by dragging categorical tree nodes, in the "Current Data Selection" panel on the left side,
      into the drop zones below.
    </div>
  </p-overlayPanel>

  <!-- The cross table -->
  <div class="row" style="margin-bottom: 10px">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <gb-droppable-zone [constraints]="columnConstraints" axis="Column"></gb-droppable-zone>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <gb-droppable-zone [constraints]="rowConstraints" axis="Row"></gb-droppable-zone>
    </div>
    <div class="col-md-9">
      <!-- when the table is still updating -->
      <div *ngIf="isUpdating">
        <p class="loading-blink"><span>•</span><span>•</span><span>•</span></p>
      </div>

      <!-- when the table finished updating, the table content goes here -->
      <div *ngIf="!isUpdating">
        <p-table [value]="rows" [columns]="cols" [resizableColumns]="true" [customSort]="true">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" pResizableColumn
                  class="gb-cross-table-top-header"
                  style="color: transparent">
              <span>
                {{col.header}}
              </span>
              </th>
            </tr>
          </ng-template>

          <!-- table body -->
          <ng-template pTemplate="body" let-row let-columns="columns">
            <tr>
              <td *ngFor="let col of columns" class="ui-resizable-column"
                  [ngClass]="{'gb-cross-table-header': row.data[col.field]['isHeader']}">
              <span>
                {{row.data[col.field]['value']}}
              </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>

    </div>
  </div>

</div>
