
    <p-card *ngIf="activated" id="gb-survival-component" header="Results">
        <div class="df">
            <table>
                <tr *ngFor="let value of values">
                    <td>{{value.name}}</td>
                    <td>{{value.value}}</td>
                </tr>
            </table>

 
            <p-dropdown [(ngModel)]="selectedIc" [options]="ic" optionLabel="label" placeholder="confidence interval"></p-dropdown>
        </div>
        
            <div id="svg-container">
                <app-gb-chart-container></app-gb-chart-container>
            </div>
        

        


        <div><p>coucou</p></div>

        
     

    </p-card>

