<div>

  <!-- the search/filter input and sorting buttons -->
  <div class="gb-query-panel-top">
    <p-autoComplete [(ngModel)]="searchTerm"
                    styleClass="gb-query-filter-input"
                    placeholder="filter"
                    (onClear)="onFiltering($event)"
                    (completeMethod)="onFiltering($event)"></p-autoComplete>
    <span>&nbsp;</span>
    <button class="btn btn-secondary btn-sm gb-query-panel-clear-btn"
            (click)="clearFilter()"
            type="button">clear
    </button>
    <input id="queryFileUpload"
           type="file"
           style="display: none"/>

    <div class="pull-right">
      <button class="btn btn-outline-primary gb-query-panel-import-btn"
              (click)="importQuery()"
              type="button">
        <span>import</span>
      </button>
    </div>

  </div>


  <div *ngIf="queries.length > 0" class="container gb-query-panel-sort-btn-container clearfix">
    <div class="float-right">
      <button pButton class="ui-button-secondary gb-query-sort-btn" type="button"
              pTooltip="Sort by query name"
              tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
              (click)="sortByName()"
              icon="icon-sort-alphabet">
      </button>
      <button pButton class="ui-button-secondary gb-query-sort-btn" type="button"
              pTooltip="Sort by importance"
              tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
              (click)="sortByBookmark()"
              icon="icon-sort-star">
      </button>
      <button pButton class="ui-button-secondary gb-query-sort-btn" type="button"
              pTooltip="Sort by last edit date"
              tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
              (click)="sortByDate()"
              icon="icon-sort-time">
      </button>
      <button *ngIf="isQuerySubscriptionIncluded"
              pButton class="ui-button-secondary gb-query-sort-btn" type="button"
              pTooltip="Sort by active subscriptions"
              tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
              (click)="sortBySubscription()"
              icon="icon-sort-subscription">
      </button>
    </div>
    <br><br>
  </div>

  <!-- queries -->
  <p-confirmDialog></p-confirmDialog>
  <div>
    <md2-accordion [multiple]="true">
      <md2-accordion-tab *ngFor="let query of queries">
        <!-- accordion header -->
        <md2-accordion-header>
          <div *ngIf="query.visible">
            <div class="gb-query-header clearfix">
              <div class="gb-query-header-name">{{query.name}}</div>
              <div class="float-right">
                <button *ngIf="isQuerySubscriptionIncluded"
                        pButton class="ui-button-secondary" type="button"
                        pTooltip="Subscribe to email notifications when new data is available"
                        tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
                        (click)="toggleQuerySubscription($event, query)"
                        icon="{{getQuerySubscriptionButtonIcon(query)}}">
                </button>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Mark as important"
                        tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
                        (click)="toggleQueryBookmark($event, query)"
                        icon="{{getQueryBookmarkButtonIcon(query)}}">
                </button>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Download this query for sharing/importing"
                        tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
                        (click)="downloadQuery($event, query)"
                        icon="fa fa-download">
                </button>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Restore" tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
                        (click)="restoreQuery($event, query)"
                        icon="fa fa-arrow-right">
                </button>
                <span>&nbsp;</span>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Remove" tooltipPosition="top" placeholder="Top" tooltipStyleClass="gb-query-tooltip"
                        (click)="confirmRemoval($event, query)"
                        icon="fa fa-times">
                </button>
              </div>
            </div>
          </div>
        </md2-accordion-header>
        <!-- accordion body -->
        <div *ngIf="query.visible">
          <div>Name: {{query.name}}</div>
          <div>Created: {{query.createDateInfo}}</div>
          <div>Updated: {{query.updateDateInfo}}</div>
          <div *ngIf="isQuerySubscriptionIncluded && query.subscribed">
            Subscription:
            <p-radioButton [(name)]="query.id" value="DAILY" label="Daily"
                           (click)="radioCheckSubscriptionFrequency($event, query)"
                           [(ngModel)]="query.subscriptionFreq"></p-radioButton>
            &nbsp;
            <p-radioButton [(name)]="query.id" value="WEEKLY" label="Weekly"
                           (click)="radioCheckSubscriptionFrequency($event, query)"
                           [(ngModel)]="query.subscriptionFreq"></p-radioButton>
          </div>
          <!-- start: if the query is subscribed, show the subscription panel -->
          <div *ngIf="isQuerySubscriptionIncluded && query.subscribed">
            <div class="gb-subscription-panel-header"
                 (click)="toggleSubscriptionPanel(query)">
              <span>{{query.subscriptionCollapsed ? 'Show' : 'Hide'}} subscription records</span>
            </div>
            <div *ngIf="!query.subscriptionCollapsed"
                 class="gb-subscription-panel-body">
              <div *ngIf="query.diffRecords && query.diffRecords.length > 0">
                <div *ngFor="let record of query.diffRecords">
                  <hr>
                  <span>
                    <b>{{record.createDate}}</b>
                    <button class="gb-query-log-download-btn"
                            (click)="downloadSubscriptionRecord(query, record)">
                      <i class="fa fa-arrow-down"></i>
                    </button>
                  </span>
                  <div class="gb-subscription-panel-body-record"
                       (click)="toggleSubscriptionRecordPanel(record)">
                    <div *ngIf="record.showCompleteRepresentation">
                      <div *ngFor="let diffType of record.diffTypes">
                        {{record.countRepresentation[diffType]}}
                        {{record.setType.toLowerCase()}}s {{diffType.toLowerCase()}}:
                        {{record.completeRepresentation[diffType]}}
                      </div>
                    </div>
                    <div *ngIf="!record.showCompleteRepresentation">
                      <div *ngFor="let diffType of record.diffTypes">
                        {{record.countRepresentation[diffType]}}
                        {{record.setType.toLowerCase()}}s {{diffType.toLowerCase()}}:
                        {{record.partialRepresentation[diffType]}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="query.diffRecords.length === 0">
                no record
              </div>
            </div>
          </div>
        </div>
      </md2-accordion-tab>
    </md2-accordion>
  </div>

</div>
