.fa.fa-circle {
  font-size: 10px;
  color: darkgray;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.gb-query-panel-clear-btn {
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: gray;
}

.gb-query-panel-import-btn {
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.gb-query-panel-sort-btn-container {
  margin-top: 6px;
  margin-bottom: -10px;
  display: flow-root;
}

.gb-subscription-panel-header {
  background-color: #fafafa;
  border-radius: 6px;
  margin-top: 3px;
  cursor: pointer;
}
.gb-subscription-panel-header:hover {
  background-color: var(--gb-clinical-green-light-light);
}
.gb-subscription-panel-header:active {
  background-color: var(--gb-clinical-green-light);
}

.gb-subscription-panel-body {
  background-color: #fafafa;
  border-radius: 6px;
  padding-left: 6px;
  margin-top: 3px;
}

.gb-subscription-panel-body-record {
  margin-bottom: 1px;
  margin-top: 5px;
  cursor: pointer;
}
.gb-subscription-panel-body-record:hover {
  background-color: var(--gb-clinical-green-light-light);
}
.gb-subscription-panel-body-record:active {
  background-color: var(--gb-clinical-green-light);
}

.gb-query-log-download-btn {
  background-color: transparent;
  border: none;
  color: grey;
}
.gb-query-log-download-btn:hover {
  background-color: #e6e6e6;
  opacity: 0.9;
}
.gb-query-log-download-btn:active {
  opacity: 1;
}

hr {
  margin-top: 1px;
  margin-bottom: 2px;
}

/*
 * Style the set name edit input
 */
input[type="text"] {
  max-width: 100%;
}
input[type="text"]:disabled {
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #606060;
}


/*
 * Style the set name edit input
 */
input:-moz-read-only { /* For Firefox */
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 46% !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #606060;
}
input:read-only {
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 46% !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #606060;
}

/*
 * Style for the toggle button
 */
.gb-query-panel-toggle-button {
  border: none;
  background-color: transparent !important;
  margin-right: -10px;
}

/*
 * margin: top right bottom left
 */
md2-accordion-header .ui-button-secondary {
  margin-top: 3px;
  margin-left: -3px;
  padding: 0px;
  color: #505050;
  border: none;
  background-color: transparent;
}

.gb-query-sort-btn {
  color: #606060 !important;
  background-color: transparent !important;
  border: black;
  padding: 0px;
  margin: 0px -3px 0px 0px;
}

.gb-query-sort-btn:hover {
  background-color: var(--gb-clinical-green) !important;
  opacity: 0.8 !important;
  color: white !important;
}

.gb-query-sort-btn:active {
  background-color: #236d64 !important;
  opacity: 0.8 !important;
}

.gb-query-panel-body {
  color: #606060;
}

.gb-query-header-name {
  border: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  height: 2.5em;
  max-width: 150px;
  float: left;
}

.gb-query-header {
  display: flow-root;
}
.gb-query-body {
  padding: 3px;
  word-wrap: break-word;
}
