.fa.fa-circle {
  font-size: 10px;
  color: darkgray;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.gb-query-panel-clear-btn {
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: gray;
}

.gb-query-panel-import-btn {
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.gb-query-panel-sort-btn-container {
  margin-top: 6px;
  margin-bottom: -10px;
}

.gb-query-remove-btn {
position: absolute;
    float: right;
}

/*
 * Style the set name edit input
 */
input[type="text"] {
  max-width: 100%;
}
input[type="text"]:disabled {
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #606060;
}


/*
 * Style the set name edit input
 */
input:-moz-read-only { /* For Firefox */
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 46% !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #606060;
}
input:read-only {
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 46% !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #606060;
}

/*
 * margin: top right bottom left
 */
p-header .ui-button-secondary {
  margin-top: 3px;
  margin-left: -3px;
  padding: 0px;
  color: #505050;
}

.gb-query-sort-btn {
  color: #606060 !important;
  background-color: transparent !important;
  border: black;
  padding: 0px;
  margin: 0px -3px 0px 0px;
}

.gb-query-sort-btn:hover {
  background-color: var(--gb-clinical-green) !important;
  opacity: 0.8 !important;
  color: white !important;
}

.gb-query-sort-btn:active {
  background-color: #236d64 !important;
  opacity: 0.8 !important;
}

.gb-query-panel-body {
  color: #606060;
}
