.fa.fa-circle {
  font-size: 10px;
  color: darkgray;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
}

.gb-query-filter-btn {
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

/*
 * Style the set name edit input
 */
input[type="text"] {
  max-width: 100%;
}
input[type="text"]:disabled {
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}


/*
 * Style the set name edit input
 */
input:-moz-read-only { /* For Firefox */
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
input:read-only {
  background: transparent;
  opacity: 1;
  border: none;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
  font-size: 110%;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
 * Style for the toggle button
 */
.gb-query-panel-toggle-button {
  border: none;
  background-color: transparent !important;
}
