<div>

  <!-- the search/filter input -->
  <div>
    <p-autoComplete [(ngModel)]="searchTerm"
                    styleClass="gb-query-filter-input"
                    placeholder="Search queries"
                    (onClear)="onFiltering($event)"
                    (completeMethod)="onFiltering($event)"></p-autoComplete>
    <button class="btn btn-secondary btn-sm gb-query-filter-btn"
            (click)="clearFilter()"
            type="button">clear</button>
  </div>
  <br>

  <div *ngFor="let query of queries">
    <!-- ------ div wrapper for visibility of a query panel ------ -->
    <div *ngIf="query['visible']"
         class="gb-query-panel"
         pDraggable="query-drag-drop">
      <p-panel [collapsed]="query['collapsed']"
               (click)="onQueryPanelClick(query)">
        <p-header>
          <div class="ui-helper-clearfix">
            <button pButton class="ui-button-secondary gb-query-panel-toggle-button" type="button"
                    (click)="toggleQueryPanel(query)"
                    icon="{{getQueryToggleButtonIcon(query)}}">
            </button>
            <input *ngIf="!query['nameEditable']" type="text" pInputText
                   [(ngModel)]="query['name']"
                   (dblclick)="editQueryName($event, query)" readonly/>
            <input *ngIf="query['nameEditable']" type="text" pInputText
                   [(ngModel)]="query['name']" (click)="editQueryName($event, query)"/>
            <div class="float-right">
              <button pButton class="ui-button-secondary" type="button"
                      (click)="toggleQueryBookmark(query)"
                      icon="{{getQueryBookmarkButtonIcon(query)}}">
              </button>
              <button pButton class="ui-button-secondary" type="button"
                      (click)="putQuery(query)"
                      icon="{{getQuerySelectionButtonIcon(query)}}">
              </button>
              <span>&nbsp;</span>
              <button pButton class="ui-button-secondary" type="button"
                      (click)="removeQuery(query)" icon="fa-times">
              </button>
            </div>
          </div>
        </p-header>

        <div class="row">
          <div class="col-2">Created: </div>
          <div class="col-6">{{query.createDate}}</div>
        </div>
        <div class="row">
          <div class="col-2">Updated: </div>
          <div class="col-6">{{query.updateDate}}</div>
        </div>

      </p-panel>
    </div>
    <!-- ------ div wrapper for visibility of a query panel ------ -->
  </div>

</div>
