.concept-constraint-comp {

}

.v-align-center {
  display: flex;
  align-items: center;
}

.btn-outline-secondary {
  color: #333333;
  font-family: "Avenir Next";
}
.btn-outline-secondary:hover {
  background-color: #c8eae6;
  color: black;
}
