<div class="form-inline">
  <label>for Concept </label>
  <p-autoComplete #autoComplete
                  [(ngModel)]="selectedConcept"
                  [suggestions]="searchResults"
                  field="path"
                  (completeMethod)="onSearch($event)"
                  size="40"
                  dropdown="true"
                  (onDropdownClick)="onDropdown($event)"></p-autoComplete>

  <!-- if the concept is numeric -->
  <div *ngIf="isNumeric()">
    with value
    <button type="button" class="btn btn-outline-secondary"
            (click)="switchOperatorState()">
      {{getOperatorButtonName()}}
    </button>

    <div *ngIf=" isBetween() " class="d-inline-block">
      <input type="number" class="form-control col-sm-4" placeholder="min:{{minLimit}}"
             [(ngModel)]="minVal"
             (ngModelChange)="updateConceptValues()">
      <label class="form-check-label d-inline-block">
        <input class="form-check-input" type="checkbox"
               [(ngModel)]="isMinEqual"
               (ngModelChange)="updateConceptValues()">
      </label>
      and
      <input type="number" class="form-control col-sm-4" placeholder="max:{{maxLimit}}"
             [(ngModel)]="maxVal"
             (ngModelChange)="updateConceptValues()">
      <label class="form-check-label d-inline-block">
        <input class="form-check-input" type="checkbox"
               [(ngModel)]="isMaxEqual"
               (ngModelChange)="updateConceptValues()">
      </label>
    </div>

    <div *ngIf=" !isBetween() " class="d-inline-block">
      <input type="number" class="form-control col-sm-8"
             [(ngModel)]="equalVal"
             (ngModelChange)="updateConceptValues()">
    </div>

  </div>

  <!-- if the concept is categorical -->
  <div *ngIf="isCategorical()" class="v-align-center">
    with values &nbsp;

    <p-autoComplete #categoricalAutoComplete
                    [(ngModel)]="selectedCategories"
                    [suggestions]="suggestedCategories"
                    (completeMethod)="onCategorySearch($event)"
                    (onFocus)="updateConceptValues($event)"
                    (onBlur)="updateConceptValues($event)"
                    [multiple]="true"></p-autoComplete>

    &nbsp;
    <button type="button" class="btn btn-outline-secondary concept-constraint-operator-state-btn"
            (click)="selectAll()">
      Select all
    </button>
    &nbsp;
    <button type="button" class="btn btn-outline-secondary concept-constraint-operator-state-btn"
            (click)="selectNone()">
      Select none
    </button>

  </div>

</div>
