.fa-plus{
  color: white;
}

.export-container {
  margin-left: 10px;
  padding: 10px;
}

.form-inline {
  margin: 5px;
}

#exportTaskNameInput {
  margin-right: 10px;
}

.gb-auto-complete-removal-btn {
  margin-left: 5px;
}

.gb-data-format-header {
  margin-bottom: 10px;
}

.gb-data-format-container {
  padding: 6px;
  border-radius: 10px;
}

.gb-data-format-item {
  font-size: larger;
  background-color: transparent;
  /*border-bottom: 1px dashed #e0e0e0;*/
  /* padding: top right bottom left */
  padding: 2px 6px 2px 6px;
}

