<div class="export-container">
  <p-panel header="Select patient/observation set(s) to export" [toggleable]="true">

    <!-- autocompletes to select patient sets or observation sets -->
    <div class="form-inline" (drop)="onExportAutoCompleteFormDrop($event)">
      <p-autoComplete [(ngModel)]="selectedSets"
                      [suggestions]="searchResults"
                      (completeMethod)="onSearch($event)"
                      (onSelect)="onSelect($event)"
                      (onUnselect)="onUnselect($event)"
                      field="name"
                      size="120"
                      dropdown="true"
                      [multiple]="true"
                      pDroppable="patient-set-drag-drop"
                      placeholder="Select set(s)"
                      (onDropdownClick)="onDropdown($event)"></p-autoComplete>
    </div>

    <!-- example here -->
    <!--<p-autoComplete #autoComplete-->
    <!--[(ngModel)]="selectedSets"-->
    <!--[suggestions]="searchResults"-->
    <!--field="studyId"-->
    <!--(completeMethod)="onSearch($event)"-->
    <!--(onSelect)="updateStudies($event)"-->
    <!--(onUnselect)="onUnselect($event)"-->
    <!--(onBlur)="updateStudies($event)"-->
    <!--dropdown="true"-->
    <!--size="40"-->
    <!--(onDropdownClick)="onDropdown($event)"-->
    <!--[multiple]="true"></p-autoComplete>-->


    <!-- area to indicate which formats to export -->
    <div [@notifyState]="updatingDataFormats">
      <div *ngIf="dataFormats.length > 0" class="gb-data-format-container">
        <div class="gb-data-format-header">Select data formats:</div>
        <p-dataList [value]="dataFormats">
          <ng-template let-dataFormat let-i="index" pTemplate="item">

            <div class="ui-grid ui-grid-responsive ui-fluid gb-data-format-item">
              <p-checkbox [(ngModel)]="dataFormat.checked" binary="true"></p-checkbox>
              {{dataFormat.name}}
            </div>

          </ng-template>
        </p-dataList>
      </div>

      <!-- the spinning icon -->
      <i class="fa fa-spin fa-refresh fa-fw gb-spinner"
         [class.loading]="updatingDataFormats == 'loading'"></i>
    </div>


    <!-- export name input and button -->
    <div class="form-inline gb-export-btn-container">
      <input id="exportJobNameInput" type="text" class="form-text"
             placeholder="Export job name"
             (drop)="onExportJobNameInputDrop($event)"
             [(ngModel)]="exportJobName">
      <span>&nbsp;</span>
      <button type="button" class="btn btn-primary btn-sm"
              [disabled]="updatingDataFormats === loading"
              (click)="createExportJob()">Export selected sets</button>
    </div>

    <p-messages [(value)]="alertMessages"></p-messages>

  </p-panel>


  <p-panel header="Export jobs" [toggleable]="true">
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
      <input #globalFilter type="text" pInputText size="50" placeholder="Filter the table">
    </div>
    <p-dataTable #dt
                 sortField="jobStatusTime"
                 sortOrder="-1"
                 [value]="exportJobs"
                 [rows]="10" [paginator]="true"
                 [globalFilter]="globalFilter">
      <p-column field="jobName" header="Name"
                [sortable]="true"
                [filter]="true" filterPlaceholder="Filter column">

      </p-column>
      <p-column field="jobStatus" header="Status"
                [sortable]="true"
                [filter]="true" filterPlaceholder="Filter column">

      </p-column>
      <p-column field="jobStatusTime" header="Time"
                [sortable]="true"
                [filter]="true" filterPlaceholder="Filter Column">
      </p-column>
      <p-column>
        <ng-template pTemplate="header">
          <span>Download</span>
        </ng-template>
        <ng-template let-job="rowData" pTemplate="body">
          <button type="button"
                  *ngIf="job.jobStatus === 'Completed'"
                  class="btn btn-outline-primary btn-sm"
                  (click)="downloadExportJob(job)">
            <span class="fa fa-download"></span>
            Download
          </button>

        </ng-template>
      </p-column>

    </p-dataTable>

  </p-panel>


</div>


