<div>

  <div *ngFor="let query of treeNodeService.queries"
       class="gb-query-panel"
       pDraggable="query-drag-drop">
    <p-panel [collapsed]="query['collapsed']" (click)="onQueryPanelClick(query)">
      <p-header>
        <div class="ui-helper-clearfix">
          <button pButton class="ui-button-secondary gb-query-panel-toggle-button" type="button"
                  (click)="toggleQueryPanel(query)"
                  icon="{{getQueryToggleButtonIcon(query)}}">
          </button>
          <input *ngIf="!query['nameEditable']" type="text" pInputText
                 [(ngModel)]="query['name']"
                 (dblclick)="editQueryName($event, query)" readonly/>
          <input *ngIf="query['nameEditable']" type="text" pInputText
                 [(ngModel)]="query['name']" (click)="editQueryName($event, query)"/>
          <div class="float-right">
            <button pButton class="ui-button-secondary" type="button"
                    (click)="toggleQueryBookmark(query)"
                    icon="{{getQueryBookmarkButtonIcon(query)}}">
            </button>
            <button pButton class="ui-button-secondary" type="button"
                    (click)="selectQuery(query)"
                    icon="{{getQuerySelectionButtonIcon(query)}}">
            </button>
            <span>&nbsp;</span>
            <button pButton class="ui-button-secondary" type="button"
                    (click)="removeQuery(query)" icon="fa-times">
            </button>
          </div>
        </div>
      </p-header>

      <div class="row">
        <div class="col-2">Created: </div>
        <div class="col-6">{{query.createDate}}</div>
      </div>
      <div class="row">
        <div class="col-2">Updated: </div>
        <div class="col-6">{{query.updateDate}}</div>
      </div>

    </p-panel>
  </div>

</div>
