
.row {
  display: flex;
}


.column {
  flex: 50%;
  padding: 1em;
  font-size: small;
}

.column-2 {
  display: flex;
  flex-direction: column;
  flex: 60%;
  overflow: hidden;
  font-size:small;
}


p.description{
  padding :0.3em;
  background-color:#339C90;
  color:#ffffff ;
  border-radius: 0.2em;
  white-space: nowrap;
  font-size: 1rem;
}

p-scrollpanel p{
  margin-left: 0.5em;
  margin-right: 0.5em;
}

p-scrollpanel p.indented{
  margin-left:1.5em;
}


.column-3 {
  flex: 40%;
}



.smallbutton{
  color: var(--gb-clinical-green-light);
  cursor: pointer;
  background-color: white;
  border:none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.smallbutton:hover{
  color: var(--gb-clinical-green-dark);

}

#stattest th, #stattest td{
  background-color: #e2eeeb;
  width: 5em;
  height: 5em;
  padding: 0.2em;
  text-align: center;
  font-size: small;
  border-bottom: white 1px solid;
  border-right:  white 1px solid;
}

#summary th, #summary td{
  background-color:white;
  border-bottom: #949494 1px solid;
  border-right-style:none;
  padding:0.5em;
  height:1em;
  width: 25%;
  text-align:left;
  font-size:small;
}

#summary{
  width: 85%;
  table-layout:fixed;
}

#milestonedContainer{
  overflow-x:auto;
  width: 90%;
  margin-left: 2em;
}

#milestoned{
  margin-left: 2em;
  font-size: small;
}

#milestoned tr th, #milestoned tr td{
  background-color:white;
  border-bottom: #cccccc 1px solid;
  border-right: #cccccc 1px solid;
  text-align: center;
  padding:0.5em;
  height:1em;
  font-size: small;

}

#milestoned tr th:last-child, #milestoned tr td:last-child{

  border-right: none;

}

#milestoned tr:last-child td{

  border-bottom: none;

}

canvas{
  height: 500px;
  width: 750px;
}

#survivalSvgContainer {
  position: relative;
}
