
.row {
  display: flex;
}

.column {
  flex: 50%;
}

.smallbutton{
  color: var(--gb-clinical-green-light);
  background-color: white;
  border:none;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.smallbutton:hover{
  color: var(--gb-clinical-green-dark);
  
}

#stattest th, #stattest td{
  background-color: #e2eeeb;
  width: 5em;
  height: 5em;
  padding: 0.2em;
  text-align: center;
  font-size: "15px";
  border-bottom: white 1px solid;
  border-right:  white 1px solid;
}

#summary th, #summary td{
  background-color:white;
  border-bottom: #949494 1px solid;
  border-right-style:none;
  padding:0.5em;
  height:1em;
  text-align:left;
}