<div>
  <div style="margin-left: 10px">
    <div class="row">
      <p-dropdown [options]="pedigreeTypes"
                  [style]="{'margin-top':'6px', 'margin-left':'6px'}"
                  [(ngModel)]="selectedPedigreeType"
                  (onChange)="updateRelationType($event)"
                  optionLabel="text"></p-dropdown>
      <div class="gb-pedigree-checkbox-container">
        <span>biological:</span>
        <p-dropdown [options]="triStateOptions"
                    [(ngModel)]="biological"></p-dropdown> &nbsp;
        <span>share household:</span>
        <p-dropdown [options]="triStateOptions"
                    [(ngModel)]="shareHousehold"></p-dropdown>
      </div>
    </div>
    <div class="row gb-pedigree-constraint-container">
      <gb-combination-constraint [constraint]="rightHandSideConstraint"></gb-combination-constraint>
    </div>
  </div>

</div>
