<div>
  <div style="margin-left: 10px">
    <div class="row">
      <p-dropdown [options]="pedigreeTypes"
                  [style]="{'margin-top':'6px', 'margin-left':'6px'}"
                  [(ngModel)]="selectedPedigreeType"
                  (onChange)="updateRelationType($event)"
                  optionLabel="text"></p-dropdown>
      <div class="gb-pedigree-checkbox-container">
        <p-checkbox [(ngModel)]="isBiological" binary="true" label="biological"></p-checkbox> &nbsp; &nbsp;
        <p-checkbox [(ngModel)]="isShareHousehold" binary="true" label="share household"></p-checkbox>
      </div>
    </div>
    <div class="row gb-pedigree-constraint-container">
      <gb-combination-constraint [constraint]="rightHandSideConstraint"></gb-combination-constraint>
    </div>
  </div>

</div>
