<div (drop)="onDrop($event)">
  <div class="gb-constraint-child-container">
    <div>
      <label *ngIf="(depth === 1) && queryTimingSameInstance" style="margin: 6px;">Same instance:</label>
      <p-checkbox *ngIf="(depth === 1) && queryTimingSameInstance" [(ngModel)]="panelTimingSameInstance" [binary]="true"></p-checkbox>
    </div>

    <label>Ontology concept: </label>
    <p-autoComplete #autoComplete
                    [(ngModel)]="selectedConcept"
                    [suggestions]="searchResults"
                    field="label"
                    (completeMethod)="onSearch($event)"
                    [style]="{'width':'auto'}"
                    [inputStyle]="{'width':'auto'}"
                    styleClass="gb-concept-constraint-input"
                    size="60"
                    dropdown="true"
                    (onDropdownClick)="onDropdown($event)"></p-autoComplete>





<!-- if the concept is NUMERIC -->
<div *ngIf="constraintConcept.type === ValueType.NUMERICAL" class="form-group gb-constraint-child-container" width="auto">
  <span>with value&nbsp;</span>
  <p-dropdown [(ngModel)]="numericalOperatorState" [options]="numericalOperation" dropdownIcon="pi pi-caret-down white-color" (onChange)="changeNumericalOperator($event)"></p-dropdown>
  <span>&nbsp;</span>

  <div *ngIf="(numericalOperatorState !== null) && isBetween() " class="d-inline-block">
    <input type="number" [step]="integerOrFloatStep" [min]="positive" class="col-sm-4" placeholder="min:{{minLimit}}"
           [(ngModel)]="minVal" (keydown)="keyControl($event)" (paste)="pasteControl($event)" (blur)="blurControl()">
    <span>&nbsp;and&nbsp;</span>
    <input type="number" [step]="integerOrFloatStep" [min]="positive" class="col-sm-4" placeholder="max:{{maxLimit}}"
           [(ngModel)]="maxVal" (keydown)="keyControl($event)" (paste)="pasteControl($event)" (blur)="blurControl()">
    <span>&nbsp;{{unit}}</span>
  </div>

  <div *ngIf="(numericalOperatorState !== null) && !isBetween() " class="d-inline-block">
    <input type="number" [step]="integerOrFloatStep" [min]="positive" class="col-sm-8"
           [(ngModel)]="equalVal" (keydown)="keyControl($event)" (paste)="pasteControl($event)" (blur)="blurControl()">
    <span>&nbsp;{{unit}}</span> <span>&nbsp;{{equalVal}}</span>
  </div>
</div>
<!-- if the concept is TEXT -->
<div *ngIf="constraintConcept.type === ValueType.TEXT" class="form-group gb-constraint-child-container" width="auto">
  <span>with value&nbsp;</span>
  <p-dropdown [(ngModel)]="textOperatorState" [options]="textOperation" dropdownIcon="pi pi-caret-down white-color" (onChange)="changeTextOperator($event)"></p-dropdown>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <div *ngIf="(textOperatorState !== null)" class="d-inline-block">
    <input type="text" class="col-sm-12" placeholder="expression"
           [(ngModel)]="textValue">
  </div>

</div>

  <!-- if the concept is CATEGORICAL -->
  <div *ngIf="constraintConcept.type === ValueType.CATEGORICAL" class="v-align-center form-inline gb-constraint-child-container">
    <span>with values</span>
    <p-multiSelect [options]="suggestedCategories" [(ngModel)]="selectedCategories"
                   [panelStyle]="{minWidth:'12em'}" (onChange)="updateConceptValues()"></p-multiSelect>
  </div>

  <!--  if the concept is DATE -->
  <div *ngIf="constraintConcept.type === ValueType.DATE" class="form-inline gb-constraint-child-container">
    <span>with date</span>
    <button type="button" class="btn btn-outline-secondary"
            (click)="switchValDateOperatorState()" [ngSwitch]="valDateOperatorState">
      <i *ngSwitchCase="ValDateOperatorStateEnum.BEFORE">before </i>
      <i *ngSwitchCase="ValDateOperatorStateEnum.AFTER">after </i>
      <i *ngSwitchCase="ValDateOperatorStateEnum.BETWEEN">between </i>
      <i *ngSwitchCase="ValDateOperatorStateEnum.NOT_BETWEEN">not between </i>
    </button>
    &nbsp;
    <p-calendar [(ngModel)]="valDate1"
                dateFormat="dd-mm-yy"
                showTime="true"
                showSeconds="true"
                hourFormat="24"
                (ngModelChange)="updateConceptValues()"
                utc="true"></p-calendar>
    <div *ngIf="[ValDateOperatorStateEnum.BETWEEN, ValDateOperatorStateEnum.NOT_BETWEEN].includes(valDateOperatorState)">
      <span>&nbsp;and&nbsp;</span>
      <p-calendar [(ngModel)]="valDate2"
                  dateFormat="dd-mm-yy"
                  showTime="true"
                  showSeconds="true"
                  hourFormat="24"
                  (ngModelChange)="updateConceptValues()"
                  utc="true"></p-calendar>
    </div>
  </div>

  <!-- ---------- more options ----------

  <div *ngIf="!sensitive" class="gb-constraint-child-container" style="margin-top: 2px">
    <p-panel [collapsed]="!showMoreOptions">
      <p-header class="form-inline" style="margin-left: -0.8em">
        <button type="button"
                (click)="toggleMoreOptions()"
                class="btn btn-outline-secondary">
          and more options
        </button>
      </p-header>

      <div class="form-inline" style="margin-top: -1em">
        <p-checkbox [(ngModel)]="applyObsDateConstraint" binary="true"></p-checkbox>
        <label *ngIf="!applyObsDateConstraint" class="gray-text">apply observation-date constraint</label>
        <div *ngIf="applyObsDateConstraint" class="form-inline">
          <span>and observation date &nbsp;</span>
          <button type="button" class="btn btn-outline-secondary"
                  (click)="switchObsDateOperatorState()" [ngSwitch]="obsDateOperatorState">
            <i *ngSwitchCase="ObsDateOperatorStateEnum.BEFORE">before </i>
            <i *ngSwitchCase="ObsDateOperatorStateEnum.AFTER">after </i>
            <i *ngSwitchCase="ObsDateOperatorStateEnum.BETWEEN">between </i>
            <i *ngSwitchCase="ObsDateOperatorStateEnum.NOT_BETWEEN">not between </i>
          </button>
          &nbsp;
          <p-calendar [(ngModel)]="obsDate1"
                      (ngModelChange)="updateObservationDateValues()"
                      dateFormat="dd-mm-yy"
                      showTime="true"
                      showSeconds="true"
                      hourFormat="24"
                      utc="true"></p-calendar>
          <div *ngIf="[ObsDateOperatorStateEnum.BETWEEN, ObsDateOperatorStateEnum.NOT_BETWEEN].includes(obsDateOperatorState)">
            <span>&nbsp;and&nbsp;</span>
            <p-calendar [(ngModel)]="obsDate2"
                        (ngModelChange)="updateObservationDateValues()"
                        dateFormat="dd-mm-yy"
                        showTime="true"
                        showSeconds="true"
                        hourFormat="24"
                        utc="true"></p-calendar>
          </div>
        </div>
      </div>

    </p-panel>
    <br>
  </div>
-->

</div>
