<div class="{{containerClass}}">
  <!-- Remove Button -->
  
  <div class="pull-right">
    
    <span class="switch-label" *ngIf="depth==1">
      <ng-container *ngIf="constraint.excluded; else included">excluded</ng-container>
      <ng-template #included>included</ng-template>
      &nbsp;
    </span>
    <label *ngIf="depth==1" class="switch">
      <input [(ngModel)]="constraint.excluded" type="checkbox">
      <span class="slider round"></span>
    </label>
    <span>&nbsp;</span>
    <button *ngIf="!isRoot"
            type="button"
            class="btn btn-outline-danger btn-sm  gb-constraint-remove-btn"
            (click)="remove()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <ng-container *ngIf="depth==1">
    <br>
    <br>
  </ng-container>
  
  
  <gb-combination-constraint *ngIf="constraint.className === 'CombinationConstraint' "
                             [constraint]="constraint"></gb-combination-constraint>
  <gb-concept-constraint *ngIf="constraint.className === 'ConceptConstraint' "
                         [constraint]="constraint"></gb-concept-constraint>
  <gb-genomic-annotation-constraint *ngIf="constraint.className === 'GenomicAnnotationConstraint' "
                                    [constraint]="constraint"></gb-genomic-annotation-constraint>
  <gb-cohort-constraint *ngIf="constraint.className === 'CohortConstraint' "
                                    [constraint]="constraint"></gb-cohort-constraint>
</div>
