
<div>
  <div class="float-right" style="margin-right: 2em">
    <button type="button"
            (click)="clearCriteria()"
            class="btn btn-primary btn-sm gb-data-selection-control-btn">Clear Criteria</button>
  </div>
  <!-- Inclusion criteria -->
  <div #inclusionCriteriaBox
       class="criteria-box">
    <div class="subject-count-box">
      <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="loadingStateInclusion == 'loading'"></i>
      <span [@notifyState]="loadingStateInclusion">{{inclusionSubjectCount}} subjects included.</span>
    </div>
    <gb-constraint #rootInclusionConstraintComponent
                [constraint]="rootInclusionConstraint"
                [isRoot]="true"></gb-constraint>
  </div>

  <!-- Exclusion criteria -->
  <div #exclusionCriteriaBox
       class="criteria-box">
    <div class="subject-count-box">
      <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="loadingStateExclusion == 'loading'"></i>
      <span [@notifyState]="loadingStateExclusion">{{exclusionSubjectCount}} subjects excluded.</span>
    </div>
    <gb-constraint #rootExclusionConstraintComponent
                [constraint]="rootExclusionConstraint"
                [isRoot]="true"></gb-constraint>
  </div>


  <!-- Intersection calculation -->
  <div class="subject-count-box">
    <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="loadingStateTotal_1 == 'loading'"></i>
    <span [@notifyState]="loadingStateTotal_1">{{subjectCount_1}} subjects match your selection.</span>
  </div>

</div>
