<div class="gb-data-selection-container">
  <!-- Saving query -->
  <div class="container form-inline gb-data-selection-top-panel">
    <input id="queryName" type="text"
           class="form-control gb-data-selection-top-panel-input"
           placeholder="Specify query name"
           (drop)="preventNodeDrop($event)"
           [(ngModel)]="queryName">
    <button class="btn btn-outline-primary btn-sm gb-data-selection-top-panel-btn"
            (click)="saveQuery()"
            type="button">
      <span *ngIf="isSavingQueryCompleted">Save query</span>
      <span *ngIf="!isSavingQueryCompleted">Saving...</span>
    </button>
  </div>

  <!-- The accordions -->
  <md2-accordion [multiple]="true"
                 (open)="openAccordion($event)"
                 (close)="closeAccordion($event)">
    <!-- The 1st step: subject selection -->
    <md2-accordion-tab [active]="true">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 1: Define subjects
            <i class="fa fa-info" (mouseenter)="op_1.show($event)" (mouseleave)="op_1.hide($event)"></i>
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_1}}</span> / {{subjectCount_0}}
              <span class="gb-data-selection-emphasis-text">subjects</span> {{subjectCountPercentage_1}}
              <span *ngIf="queryService.showObservationCounts">
                ,
                <span class="gb-data-selection-emphasis-text">{{observationCount_1}}</span> / {{observationCount_0}}
                <span class="gb-data-selection-emphasis-text">observations</span> {{observationCountPercentage_1}}
              </span>
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_1" class="float-right">
              <i *ngIf="queryService.isUpdating_1" class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="update_1($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_1? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-selection></gb-selection>
    </md2-accordion-tab>

    <!-- The 2nd step: variable selection -->
    <md2-accordion-tab [active]="false">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 2: Select data on the subjects
            <i class="fa fa-info" (mouseenter)="op_2.show($event)" (mouseleave)="op_2.hide($event)"></i>
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}}</span> / {{subjectCount_1}}
              <span class="gb-data-selection-emphasis-text">subjects</span> {{subjectCountPercentage_2}}
              <span *ngIf="queryService.showObservationCounts">
                ,
                <span class="gb-data-selection-emphasis-text">{{observationCount_2}}</span> / {{observationCount_1}}
                <span class="gb-data-selection-emphasis-text">observations</span> {{observationCountPercentage_2}}
              </span>
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_2" class="float-right">
              <i *ngIf="queryService.isPreparing_2 || queryService.isUpdating_2"
                 class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="update_2($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_2? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-projection></gb-projection>
    </md2-accordion-tab>

    <!-- The 3rd step: data table view and variable filtering -->
    <md2-accordion-tab *ngIf="isDataTableUsed" [active]="false">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 3: View selected data
            <i class="fa fa-info" (mouseenter)="op_3.show($event)" (mouseleave)="op_3.hide($event)"></i>
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}} subjects</span>,
              <span *ngIf="queryService.showObservationCounts"
                    class="gb-data-selection-emphasis-text">
                {{observationCount_2}} observations
              </span>
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_3" class="float-right">
              <i *ngIf="queryService.isUpdating_3" class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="update_3($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_3? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-data-table></gb-data-table>
    </md2-accordion-tab>

  </md2-accordion>

  <p-overlayPanel #op_1
                  [dismissable]="true"
                  [showCloseIcon]="false"
                  [style]="{'background':'#339C90', 'width': '50%'}">
    <div class="gb-data-selection-information-text">
      To define a group of subjects for which you want to select data,
      either drag nodes from the tree into an "add criteria" box or use the "+" icon to
      add criteria to your selection. When you are done adding criteria, please click the “Update” button on the right
      to get feedback about your group size, or to submit your selection before advancing.
    </div>
  </p-overlayPanel>

  <p-overlayPanel #op_2
                  [dismissable]="true"
                  [showCloseIcon]="false"
                  [style]="{'background':'#339C90', 'width': '50%'}">
    <div class="gb-data-selection-information-text">
      Below you see the variables for which data exists in your group of subjects. Select variables for your data
      selection by marking the corresponding boxes. When you are done with selecting variables, please click the
      “Update” button on the right to get feedback about the number of observations (data points) in your data
      selection, or to submit your selection before advancing.
    </div>
  </p-overlayPanel>

  <p-overlayPanel #op_3
                  [dismissable]="true"
                  [showCloseIcon]="false"
                  [style]="{'background':'#339C90', 'width': '50%'}">
    <div class="gb-data-selection-information-text">
      To preview the data you selected in step 1 and 2, click the "Update" button on the right. A table appears with a
      preview of your data. You can alter the table by switching key variables from the row or column position with the
      tool above the table. Click the "Update" button for Step 3 to update your data representation. The first 10 rows
      of your data selection are displayed in the table. Use the previous and next buttons beneath the table to scroll
      through the rest of the data. When you are done creating your data representation click the "Update" button before
      going to the “Export” tab.
    </div>
  </p-overlayPanel>

</div>
