.nav-btn:hover {
  background-color: lightgray;;
}

.nav-active {
  font-weight: bolder;
}

.gb-data-selection-container {
  margin-top: 150px;
}

.gb-data-selection-accordion-header {
  font-size: large;
  opacity: .7;
}
.gb-data-selection-accordion-sub-header {
  color: darkgray;
}
