.nav-btn:hover {
  background-color: lightgray;
}

.nav-active {
  font-weight: bolder;
}

.gb-data-selection-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.gb-data-selection-accordion-header {
}

.gb-data-selection-accordion-sub-header-1 {
  font-size: large;
  color: gray;
  margin: 0em;
}

.gb-data-selection-accordion-sub-header-2 {
  background-color: rgba(51, 156, 144, 0.1);
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 6px;
  padding-left: 2em;
  overflow: hidden;
}

.gb-data-selection-accordion-sub-header-3 {
  color: GrayText;
  margin: 0em;
}

.gb-data-selection-emphasis-text {
  color: #595959;
  font-weight: bold;
}

.gb-data-selection-update-btn {
  margin-left: 1em;
  margin-right: 1em;
  border: 1px dashed;
}

.gb-data-selection-update-btn-dirty {
  border: 2px solid;
  font-weight: bolder;
}

.fa-circle-o-notch {
  opacity: .5;
}
