<div class="gb-data-selection-container">

  <!--Alert message-->
  <p-messages [(value)]="queryService.alertMessages"></p-messages>

  <!-- The accordions -->
  <md2-accordion [multiple]="false"
                 (open)="openAccordion($event)"
                 (close)="closeAccordion($event)">
    <!-- The 1st step -->
    <md2-accordion-tab [active]="true">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 1: Define the group of subjects for which you want to select data
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_1}}</span> / {{subjectCount_0}}
              <span class="gb-data-selection-emphasis-text">subjects</span> {{subjectCountPercentage_1}},
              <span class="gb-data-selection-emphasis-text">{{observationCount_1}}</span> / {{observationCount_0}}
              <span class="gb-data-selection-emphasis-text">observations</span> {{observationCountPercentage_1}}
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_1" class="float-right">
              <i *ngIf="queryService.isUpdating_1" class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="updateCounts_1($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_1? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update counts
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-selection></gb-selection>
    </md2-accordion-tab>

    <!-- The 2nd step -->
    <md2-accordion-tab>
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 2: Select the relevant data of your group of subjects
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}}</span> / {{subjectCount_1}}
              <span class="gb-data-selection-emphasis-text">subjects</span> {{subjectCountPercentage_2}},
              <span class="gb-data-selection-emphasis-text">{{observationCount_2}}</span> / {{observationCount_1}}
              <span class="gb-data-selection-emphasis-text">observations</span> {{observationCountPercentage_2}}
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_2" class="float-right">
              <i *ngIf="queryService.isPreparing_2 || queryService.isUpdating_2" class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="updateCounts_2($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_2? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update counts
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-projection></gb-projection>
    </md2-accordion-tab>

    <!-- The 3rd step -->
    <md2-accordion-tab>
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 3: View and arrange the selected data
          </div>
          <div class="form-inline gb-data-selection-accordion-sub-header-2">
            <div class="gb-data-selection-accordion-sub-header-3">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}} subjects</span>,
              <span class="gb-data-selection-emphasis-text">{{observationCount_2}} observations</span>
            </div>
          </div>
        </div>
      </md2-accordion-header>
      <gb-table></gb-table>
    </md2-accordion-tab>

    <!-- The 4th step -->
    <md2-accordion-tab>
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 4: Export the selected data
          </div>
          <div class="form-inline gb-data-selection-accordion-sub-header-2">
            <div class="gb-data-selection-accordion-sub-header-3">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}} subjects</span>,
              <span class="gb-data-selection-emphasis-text">{{observationCount_2}} observations</span>
            </div>
          </div>
        </div>
      </md2-accordion-header>
      <gb-export></gb-export>
    </md2-accordion-tab>


  </md2-accordion>
</div>
