<div [ngClass]="{'gb-data-selection-container': isQuerySavingUsed}">

  <!-- The accordions -->
  <md2-accordion [multiple]="true"
                 (open)="openAccordion($event)"
                 (close)="closeAccordion($event)">
    <!-- The 1st step: subject selection -->
    <md2-accordion-tab [active]="true">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            <span *ngIf="isVariableSelectionUsed || isDataTableUsed">Step 1: </span>Define the group of subjects for which you want to select data
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_1}}</span><span *ngIf="subjectCount_0 != '0'"> / {{subjectCount_0}}</span>
              <span class="gb-data-selection-emphasis-text">subjects</span> {{subjectCountPercentage_1}}
              <span *ngIf="queryService.showObservationCounts">
                ,
                <span class="gb-data-selection-emphasis-text">{{observationCount_1}}</span> / {{observationCount_0}}
                <span class="gb-data-selection-emphasis-text">observations</span> {{observationCountPercentage_1}}
              </span>
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_1" class="float-right">
              <i *ngIf="queryService.isUpdating_1" class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="update_1($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_1? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update
              </button>
            </span>
            <span class="float-right">
              <label>Query Type: </label>
              <select [(ngModel)]="selectedQueryType">
                <option *ngFor="let queryType of availableQueryTypes | async" [ngValue]="queryType">
                  {{queryType.name}}
                </option>
              </select>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-selection></gb-selection>
    </md2-accordion-tab>

    <!-- The 2nd step: variable selection -->
    <md2-accordion-tab [active]="false" *ngIf="isVariableSelectionUsed">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 2: Select the relevant data of your group of subjects
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}}</span> / {{subjectCount_1}}
              <span class="gb-data-selection-emphasis-text">subjects</span> {{subjectCountPercentage_2}}
              <span *ngIf="queryService.showObservationCounts">
                ,
                <span class="gb-data-selection-emphasis-text">{{observationCount_2}}</span> / {{observationCount_1}}
                <span class="gb-data-selection-emphasis-text">observations</span> {{observationCountPercentage_2}}
              </span>
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_2" class="float-right">
              <i *ngIf="queryService.isPreparing_2 || queryService.isUpdating_2"
                 class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="update_2($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_2? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-projection></gb-projection>
    </md2-accordion-tab>

    <!-- The 3rd step: data table view and variable filtering -->
    <md2-accordion-tab *ngIf="isDataTableUsed" [active]="false">
      <md2-accordion-header>
        <div class="gb-data-selection-accordion-header">
          <div class="gb-data-selection-accordion-sub-header-1">
            Step 3: View and arrange the selected data
          </div>
          <div class="gb-data-selection-accordion-sub-header-2">
            <span class="gb-data-selection-accordion-sub-header-3 float-left">
              <span class="gb-data-selection-emphasis-text">{{subjectCount_2}} subjects</span>,
              <span *ngIf="queryService.showObservationCounts"
                    class="gb-data-selection-emphasis-text">
                {{observationCount_2}} observations
              </span>
            </span>
            <span *ngIf="!queryService.instantCountsUpdate_3" class="float-right">
              <i *ngIf="queryService.isUpdating_3" class="fa fa-circle-o-notch fa-spin"></i>
              <button type="button"
                      (click)="update_3($event)"
                      class="btn btn-outline-primary btn-sm gb-data-selection-update-btn
                      {{queryService.isDirty_3? 'gb-data-selection-update-btn-dirty' : ''}}">
                Update
              </button>
            </span>
          </div>
        </div>
      </md2-accordion-header>
      <gb-data-table></gb-data-table>
    </md2-accordion-tab>

  </md2-accordion>

</div>
