.nav-btn:hover {
  background-color: lightgray;
}

.nav-active {
  font-weight: bolder;
}

.gb-data-selection-container {
  margin-top: 1px;
  margin-bottom: 100px;
}

.gb-data-selection-accordion-header {
}

.gb-data-selection-accordion-sub-header-1 {
  font-size: large;
  color: gray;
  margin: 0em;
}

.gb-data-selection-accordion-sub-header-2 {
  background-color: rgba(51, 156, 144, 0.1);
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-radius: 6px;
  padding-left: 2em;
  overflow: hidden;
}

.gb-data-selection-accordion-sub-header-3 {
  color: GrayText;
  margin: 0em;
}

.gb-data-selection-emphasis-text {
  color: #595959;
  font-weight: bold;
}

.gb-data-selection-update-btn {
  margin-left: 1em;
  margin-right: 0.5em;
  border: 1px dashed;
}

.gb-data-selection-update-btn-dirty {
  border: 2px solid;
  font-weight: bolder;
}

.gb-data-selection-information-text {
  color: white;
}

.fa-circle-o-notch {
  opacity: .5;
}

/*
 * The style for the overview panel on top of data-selection
 * padding and margin: top, right, bottom, left
 * shadow option: text-shadow: 1px 1px 3px black;
 */
.gb-data-selection-top-panel {
  background-color: rgba(51, 156, 144, 0.1);
  border-radius: 3px;
  border: 1px solid lightgray;
  padding: 0.5em 1em 0.5em 1em;
  margin: 3px 16px -2px 0px;
  color: darkslategrey;
  overflow: hidden;
  width: 100%;
  font-size: 0.9em;
}

.gb-data-selection-top-panel-input {
  margin-bottom: 3px;
  margin-right: 7px;
  max-width: 100%;
  font-size: small;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

/* save btn */
.gb-data-selection-top-panel-btn {
  margin: .1em;
}

.gb-data-selection-top-panel-btn:hover {
  background-color: var(--gb-clinical-green);
  opacity: 0.7;
}

.gb-data-selection-top-panel-btn:active {
  background-color: var(--gb-clinical-green);
  opacity: 0.9;
}

.fa-info {
  margin-left: 0.5em;
  border-radius: 1em;
  background-color: white;
  color: var(--gb-clinical-green-light);
  border: 2px var(--gb-clinical-green-light) solid;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 1px;
  padding-bottom: 0px;
  font-size: small;
}

.fa-info:hover {
  background-color: var(--gb-clinical-green-light);;
  color: white;
}
