.grid-container {
  font-size: small;
}

:host >>> .grid-container .table-header {
  text-align: center;
  font-weight: bolder;
  border-left: 1px var(--gb-clinical-green-dark) solid !important;
  border-right: 1px var(--gb-clinical-green-dark) solid !important;
  border-bottom: 1px var(--gb-clinical-green-light) solid !important;
  background-color: var(--gb-clinical-green-light-light) !important;
}

:host >>> .grid-container .pagination-container {
  margin: 10px 0px 0px 0px;
  text-align: center;
}

:host >>> .grid-container .pagination-container .btn-outline-secondary {
  color: GrayText;
  border: none;
}

:host >>> .grid-container .pagination-container .btn-outline-secondary:hover {
  background-color: var(--gb-clinical-green-light-light);
}

:host >>> .grid-container .pagination-container .btn-outline-secondary:active {
  font-weight: bolder;
  background-color: var(--gb-clinical-green-light-light);
}


:host >>> .grid-container .ui-resizable-column {
  background-color: white;
  border: solid lightgray 1px;
  text-align: center;
  min-width: 30px;
  width: 100px;
}

/*
 * Change the primeng data table border to lightgrey
 */
/*thead.ui-table-thead tr th,
tfoot.ui-table-tfoot tr td,
tbody.ui-table-tbody tr td {
  border-color: lightgrey;
}
*/

/*
 * Change the primeng tooltip for data table cells
 */
.ui-tooltip.ui-widget.ui-tooltip-right,
.ui-tooltip.ui-widget.ui-tooltip-left {
  font-size: x-small;
  width: 300px;
  min-width: 300px;
}
