<div *ngIf="isUpdating; else showDataTableGrid">
  <gb-loading></gb-loading>
</div>

<ng-template #showDataTableGrid>
  <div class="grid-container">
    <p-table [value]="rows" [columns]="cols" [autoLayout]="true" [customSort]="true">
      <!-- table body -->
      <ng-template pTemplate="body" let-row let-columns="columns">
        <!-- Header row -->
        <tr *ngIf="row.isHeaderRow">
          <th *ngFor="let col of columns" class="table-header">
          <span *ngIf="!row.metadata[col.field]; else withTooltip">
            {{row.data[col.field]}}
          </span>
            <ng-template #withTooltip>
            <span pTooltip="{{row.metadataText[col.field]}}"
                  appendTo="body" style="position: relative">
              {{row.data[col.field]}}
            </span>
            </ng-template>
          </th>
        </tr>
        <!-- Data row -->
        <tr *ngIf="!row.isHeaderRow">
          <td *ngFor="let col of columns; let i = index" [ngClass]="i < row.headerCellCount ? 'table-header' : 'ui-resizable-column'">
          <span *ngIf="!row.metadata[col.field]; else withTooltip">
            {{row.render(col.field)}}
          </span>
            <ng-template #withTooltip>
            <span pTooltip="{{row.metadataText[col.field]}}"
                  appendTo="body" style="position: relative">
              {{row.render(col.field)}}
            </span>
            </ng-template>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- pagination buttons -->
    <div class="pagination-container">
      <button type="button" class="btn-outline-secondary" (click)="previousPage()">
        previous <i class="fa fa-angle-left"></i>
      </button>

      {{currentPage}}

      <button type="button" class="btn-outline-secondary" (click)="nextPage()">
        <i class="fa fa-angle-right"></i> next
      </button>
    </div>
  </div>
</ng-template>
