<div>
  <!-- Remove Button -->
  <button type="button" class="btn btn-outline-danger btn-sm pull-right constraint-remove-btn"
          (click)="remove()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <div *ngIf="constraint.getConstraintType() == 'CombinationConstraint' ">
    <combination-constraint [constraint]="constraint"></combination-constraint>
  </div>
  <div *ngIf="constraint.getConstraintType() == 'ConceptConstraint' ">
    <concept-constraint [constraint]="constraint"></concept-constraint>
  </div>
</div>
