<div class="constraint-comp">
  <!-- Remove Button -->
  <button type="button" class="btn btn-outline-danger btn-sm pull-right constraint-remove-btn"
          (click)="remove()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <combination-constraint *ngIf="constraint.getConstraintType() == 'CombinationConstraint' "
                          [constraint]="constraint"></combination-constraint>
  <concept-constraint *ngIf="constraint.getConstraintType() == 'ConceptConstraint' "
                      [constraint]="constraint"></concept-constraint>
  <study-constraint *ngIf="constraint.getConstraintType() == 'StudyConstraint' "
                    [constraint]="constraint"></study-constraint>
</div>

<div *ngIf="showJunction()" class="constraint-state-container">
  <button type="button" class="btn btn-outline-primary btn-sm"
          (click)="toggleJunction()">{{getJunctionName()}}</button>
</div>
