<div class="gb-summary-container">
  <div class="pull-right">
    <button class="btn btn-outline-primary btn-sm gb-data-selection-overview-panel-btn"
            (click)="clearAll()"
            type="button">
      <span>Clear all</span>
    </button>
  </div>
  <div>{{subjectCount}} subjects</div>
  <div *ngIf="showObservationCounts">{{observationCount}} observations</div>

  <div *ngIf="finalTreeNodes.length > 0">
    <div class="hline"></div>
    <p-tree [value]="finalTreeNodes"
            draggableNodes="true"
            styleClass="gb-final-tree-container"></p-tree>
  </div>
</div>
