.gb-page {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.gb-message-box {
  margin-bottom: 15px;
  padding: 8px 12px;
}

.gb-warning {
  color: black;
  background-color: #ffffcc;
  border-left: 6px solid #ffeb3b;
}
