<div class="fractalis-control-container">

  <p-selectButton [options]="availableChartTypes"
                  [(ngModel)]="selectedChartType"></p-selectButton>

  <div *ngIf="isDropZoneShown"
       class="drop-zone"
       [pDroppable]="variablesDragDropScope"
       [ngClass]="{'drop-zone-highlight': dragCounter > 0}"
       (onDragEnter)="onDragEnter($event)"
       (onDragLeave)="onDragLeave($event)"
       (drop)="onDrop()">
    Drop variable(s) here
  </div>

  <div *ngIf="isAddButtonShown" class="add-btn-container">
    <button type="button" class="btn btn-primary btn-sm" (click)="onAddChart()">Add</button>
  </div>
</div>
