:host {
  width: 100%;
}

.chart-settings-container {
  text-align: left;
  height: 600px;
}

.chart-settings-legend {
  text-align: right;
  font-size: small;
}

.chart-settings-option {
  text-align: left;
  padding-bottom: 20px;
}

.chart-settings-footer {
  text-align: right;
}

:host >>> .row {
  padding-bottom: 15px;
}

:host >>> .row.chart-setting-tree {
  padding-left: 5px;
}

:host >>> .ui-multiselect {
  padding: 0;
}

:host >>> .ui-multiselect-label {
  padding: 0.1em 2em 0.1em 0.25em;
  margin-bottom: 0;
}
