.chart-settings-container {
  max-width: 800px;
  text-align: left;
  height: 400px;
}

.chart-settings-legend {
  text-align: right;
  font-size: small;
}

.chart-settings-option {
  text-align: left;
  padding-bottom: 20px;
}

.chart-settings-footer {
  text-align: right;
}

:host >>> .ui-multiselect {
  padding: 0;
}


:host >>> .ui-multiselect-label {
  padding: 0.1em 2em 0.1em 0.25em;
  margin-bottom: 0;
}
