<div class="small-font">
  <!-- https://stackoverflow.com/questions/tagged/ui-grid?tab=Votes -->
<!-- how to use the grid for sizing components https://stackoverflow.com/questions/41354416/primeng-p-dropdown-stretch-100 -->

  <div class="input-label-wrapper">
    <div class="input-field-margin" style="margin-left: 0;">
        <p-dropdown
        [style]="{'min-width':'25em'}"
        dropdownIcon="pi pi-caret-down white-color"
        [(ngModel)]="queryTiming" [options]="timings" [ngStyle]="{'margin-bottom':'1em'}"></p-dropdown>
    </div>
  </div>
  <p>is valid ? {{inputValueValidity}}</p>

  <div #inclusionCriteriaBox
       class="criteria-box input-label-wrapper">
    <p><b>Inclusion</b> criteria:</p>
    <gb-constraint #rootInclusionConstraintComponent
                [constraint]="rootInclusionConstraint"
                [isRoot]="true"></gb-constraint>
  </div>

  <!-- Exclusion criteria -->
  <div #exclusionCriteriaBox
       class="criteria-box input-label-wrapper">
    <p><b>Exclusion</b> criteria:</p>
    <gb-constraint #rootExclusionConstraintComponent
                [constraint]="rootExclusionConstraint"
                [isRoot]="true"></gb-constraint>
  </div>


  <!-- Intersection calculation -->
  <!--
  <div class="subject-count-box">
    <i class="fa fa-spin fa-refresh fa-fw gb-spinner" [class.loading]="loadingState == 'loading'"></i>
    <span [@notifyState]="loadingState">{{globalCount | async}} subjects match your query.</span>
  </div>
  -->

</div>
