<div>

  <div *ngFor="let pset of patientSets"
       class="gb-patient-set-panel"
       pDraggable="patient-set-drag-drop">
    <p-panel [collapsed]="pset['collapsed']">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-panel-title">{{pset['name']}}</div>
          <div class="float-right">
            <button pButton class="ui-button-secondary" type="button"
                    (click)="togglePatientSetPanel(pset)"
                    icon="{{getPatientSetToggleButtonIcon(pset)}}">
            </button>
            <button pButton class="ui-button-secondary" type="button"
                    (click)="removePatientSet(pset)" icon="fa-times">
            </button>
          </div>
        </div>
      </p-header>

      {{pset.name}} content

    </p-panel>
  </div>

</div>
