<div>

  <div *ngFor="let pset of patientSets"
       class="gb-patient-set-panel"
       pDraggable="patient-set-drag-drop">
    <p-panel [collapsed]="pset['collapsed']" (click)="onPatientSetPanelClick(pset)">
      <p-header>
        <div class="ui-helper-clearfix">
          <input *ngIf="!pset['nameEditable']" type="text" pInputText
                 [(ngModel)]="pset['name']"
                 (dblclick)="editPatientSetName($event, pset)" readonly/>
          <input *ngIf="pset['nameEditable']" type="text" pInputText
                 [(ngModel)]="pset['name']" (click)="editPatientSetName($event, pset)"/>
          <div class="float-right">
            <button pButton class="ui-button-secondary" type="button"
                    (click)="togglePatientSetBookmark(pset)"
                    icon="{{getPatientSetBookmarkButtonIcon(pset)}}">
            </button>
            <button pButton class="ui-button-secondary" type="button"
                    (click)="selectPatientSet(pset)"
                    pTooltip="Select the patient set to edit its query."
                    icon="{{getPatientSetSelectionButtonIcon(pset)}}">
            </button>
            <button pButton class="ui-button-secondary" type="button"
                    (click)="togglePatientSetPanel(pset)"
                    icon="{{getPatientSetToggleButtonIcon(pset)}}">
            </button>
            <button pButton class="ui-button-secondary" type="button"
                    (click)="removePatientSet(pset)" icon="fa-times">
            </button>
          </div>
        </div>
      </p-header>

      {{pset.name}} content

    </p-panel>
  </div>

</div>
