<div class="form-inline" (drop)="onDrop($event)">
  <label>{{constraint.parentConstraint?.className === 'ConceptConstraint' ? 'and' : 'for'}} study</label>

  <p-autoComplete #autoComplete
                  [(ngModel)]="selectedStudies"
                  [suggestions]="searchResults"
                  field="id"
                  (completeMethod)="onSearch($event)"
                  (onSelect)="update()"
                  (onUnselect)="update()"
                  dropdown="true"
                  [style]="{'width':'100%'}"
                  [inputStyle]="{'width':'100%'}"
                  size="40"
                  (onDropdownClick)="onDropdown($event)"
                  [multiple]="true"></p-autoComplete>

</div>
