<div id="cohorts-component">
  <div class="p-grid p-dir-col">
    <div *ngFor="let cohort of cohorts" class="p-col" (click)="selectedCohort=cohort">
      {{cohort.name}}

      <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Mark as important"
                        tooltipPosition="top" placeholder="Top"
                        (click)="toggleBookmark($event, cohort)"
                        icon="{{getBookmarkButtonIcon(cohort)}}">
                </button>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Download this cohort for sharing/importing"
                        tooltipPosition="top" placeholder="Top"
                        (click)="downloadCohort($event, cohort)"
                        icon="fa fa-download">
                </button>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Restore" tooltipPosition="top" placeholder="Top"
                        (click)="restoreCohort($event, cohort)"
                        icon="fa fa-arrow-right">
                </button>
                <span>&nbsp;</span>
                <button pButton class="ui-button-secondary" type="button"
                        pTooltip="Remove" tooltipPosition="top" placeholder="Top"
                        (click)="confirmRemoval($event, cohort)"
                        icon="fa fa-times">
                </button>
    </div>

  </div>

</div>