<div *ngIf="activated" id="gb-survival-settings-component" >
    <p-card header="Settings">

    <p-button (click)="run()" label="Run" class="ui-button-secondary"></p-button>
        
        <p-dropdown [(ngModel)]="selectedGranularity" optionLabel="label" [options]="granularities" placeholder="Granularity"></p-dropdown>
        <span>Limit:</span>
        <input type="text" pInputText [(ngModel)]="limit"/>
        <p-slider [(ngModel)]="limit" [max]="1000"  [style]="{'width':'13.5em', 'margin-left':'13em', 'background':'#ffffff'}"></p-slider>
        <p-dropdown [(ngModel)]="selectedStart" optionLabel="label" [options]="starts" placeholder="Start"></p-dropdown>
        <p-dropdown [(ngModel)]="selectedEnd" optionLabel="label" [options]="ends" placeholder="End"></p-dropdown>
            
       
    </p-card>
</div>
<app-gb-survival-res [activated]="ran"></app-gb-survival-res>
