.ui-button-secondary{
    float:right;
}



.ui-card-body {
    padding: 0.3em !important;
}

.description {
    padding :0.3em;
    background-color:#339C90;
    color:#ffffff ;
    border-radius: 0.2em;
    white-space: nowrap;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}