<div>
  <p-accordion [multiple]="true">

    <div>
      <p-accordionTab header="Latest explore query" [selected]="true">
        <gb-summary></gb-summary>
      </p-accordionTab>
    </div>

    <div *ngIf="navbarService.isExplore ||  navbarService.isAnalysis">
      <p-accordionTab header="Ontology" [selected]="true">
        <div class="gb-sidepanel-navbar">
          <p-tabMenu [model]="ontologyNavbarService.items" [activeItem]="ontologyNavbarService.activeItem"></p-tabMenu>
        </div>
        <gb-tree-nodes *ngIf="ontologyNavbarService.isBrowse"></gb-tree-nodes>
        <form class="term-search" *ngIf="ontologyNavbarService.isTermSearch">
          <input class="ui-inputtext" (input)="termSearchService.onTermChange($event)" />
          <p-button style="display: none;" type="submit" label="Search" (onClick)='termSearchService.onSearch()'></p-button>
          <p-accordionTab *ngFor="let ontologyElement of termSearchService.results" draggable="true"
              class="ui-ontology-elements">
              <p-header class="ui-ontology-elements">
                <span class="ui-button-text ui-unselectable-text" draggable="true">{{ontologyElement.name}}</span>
              </p-header>
              <span class="full-path" style="font-size: 0.8em;" *ngFor="let nodePath of ontologyElement.fullPath; let last = last">
                <span [ngClass]="{'bold': !!nodePath.isBold}">{{nodePath.name}}</span>
                <span *ngIf="!last" class="path-separator">></span>
              </span>
          </p-accordionTab>
          <div *ngIf="termSearchService.isLoading" style="margin: auto;">
            <p class="loading-blink"><span>•</span><span>•</span><span>•</span></p>
          </div>
        </form>
      </p-accordionTab>
    </div>

    <div>
      <p-accordionTab header="Saved Cohorts" *ngIf="savedCohortsPatientListService.authorizedForPatientList" [selected]="true">
        <gb-cohorts></gb-cohorts>
      </p-accordionTab>
    </div>

  </p-accordion>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>
