<div>
  <div class="gb-logo-panel">
    <img src="../../../assets/icons/glowingbear.png">
    <span class="gb-logo-text">GLOWING BEAR</span>
  </div>

  <p-accordion [multiple]="true">

    <div>
      <p-accordionTab header="Current Data Selection" [selected]="true">
        <gb-summary></gb-summary>
      </p-accordionTab>
    </div>

    <div *ngIf="isDataSelection">
      <p-accordionTab header="Ontology" [selected]="true">
        <gb-tree-nodes></gb-tree-nodes>
      </p-accordionTab>
    </div>

    <div *ngIf="isDataSelection">
      <p-accordionTab header="Queries" [selected]="true">
        <gb-queries></gb-queries>
      </p-accordionTab>
    </div>

  </p-accordion>

  <br>
  <br>
  <br>
  <br>
  <br>
</div>
