<div class="gb-side-panel-container">
  <div class="gb-logo-panel">
    <img src="../../../assets/icons/glowingbear.png" (click)="goToDocUrl()">
    <span class="gb-logo-text" (click)="goToDocUrl()">GLOWING BEAR</span>
  </div>

  <div class="gb-side-accordion-container">
    <p-accordion [multiple]="true">

      <p-accordionTab header="Ontology" [selected]="true">
        <gb-tree-nodes></gb-tree-nodes>
      </p-accordionTab>

      <p-accordionTab header="Cohorts" [selected]="true">
        <gb-cohorts></gb-cohorts>
      </p-accordionTab>

      <p-accordionTab header="Variables" [selected]="true">
        <gb-variables></gb-variables>
      </p-accordionTab>

    </p-accordion>
  </div>
</div>
