/* top, right, bottom, left */
.analysis-container {
  margin-top: var(--gb-navbar-height-extra);
  padding: 0.5em;
}

.visual-panel {
  overflow-x: auto;
}

:host >>> .section-banner {
  color: gray;
  padding: 0px;
  margin-bottom: 0;
  text-align: left;
  font-size: large;
  font-weight: 500;
}

:host >>> .settings-slider {
  width: 16em;
  margin-left: 1em;
  margin-right: 1em;
}

.setting-slider-container {
  margin-bottom: 0.5em;
  font-size: small;
  color: grey;
}

.btn-container {
  margin: 50px;
  text-align: center;
}
