/* top, right, bottom, left */
.analysis-container {
  margin-top: var(--gb-navbar-height-extra);
  padding: 0.5em;
}

.section-banner {
  color: darkgray;
  padding: 0px;
  margin-bottom: 10px;
  text-align: left;
}
