/* top, right, bottom, left */
.analysis-container {
  margin-top: var(--gb-navbar-height-extra);
  padding: 0.5em;
}

:host >>> .section-banner {
  color: gray;
  padding: 0px;
  margin-bottom: 0;
  text-align: left;
  font-size: large;
  font-weight: 500;
}
