<div class="analysis-container">

  <mat-accordion [multi]="true">
    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="section-banner">
            New chart
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <gb-fractalis-control></gb-fractalis-control>
    </mat-expansion-panel>

    <mat-expansion-panel expanded="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="section-banner">
            Charts
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="visual-panel">
        <gb-fractalis-visual></gb-fractalis-visual>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
