.breakdown-checkbox input + label::before{

    width: 15px;
  height: 15px;
  background-color: #000;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
} 


.breakdown-checkbox input:checked + label::before{

    background-color: #00ffff;
} 

