.gb-droppable-zone-container {
  height: 100%;
  background-color: whitesmoke;
  margin: 5px;
  border-radius: 6px;
  min-height: 30px;
}

.gb-droppable-zone-container-highlight {
  background-color: var(--gb-light-orange);
  fill-opacity: .6;
}

.gb-draggable-cell-outside-container {
  margin: 3px;
}
