<div [pDroppable]="dragDropContext"
     class="container gb-droppable-zone-container"
     [ngClass]="{'gb-droppable-zone-container-highlight': dragCounter > 0}"
     (onDragEnter)="onDragEnter($event)"
     (onDrop)="onDrop()"
     (drop)="onDropGeneric()"
     (onDragLeave)="onDragLeave($event)">

  <div class="row">
    <div *ngFor="let constraint of constraints"
         class="gb-draggable-cell-outside-container">
      <gb-draggable-cell [constraint]="constraint"
                         (constraintCellRemoved)="onConstraintCellRemoved(constraint)">
      </gb-draggable-cell>
    </div>
  </div>

</div>
