/*
 * margin or padding: top right bottom left
 */
.form-check-label {
  margin-right: 3px;
}

.gb-constraint-state-container {
  margin: 3px 0px 3px 0px;
}

.gb-combination-constraint-container {
  margin: 0px;
  padding-top: 5px;
}

.gb-combination-constraint-input-container {
  margin-left: -5px;
}

.btn-outline-primary {
  font-size: small;
  padding: 2px 5px 2px 5px;
}
