<div (drop)="onDrop($event)">
  <div class="form-inline gb-constraint-child-container">
    <label>Genomic annotation: </label>
    <p-autoComplete #autoComplete
                    [(ngModel)]="selectedAnnotationName"
                    [suggestions]="searchedAnnotationNames"
                    (completeMethod)="annotationNameOnSearch($event)"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                    styleClass="gb-concept-constraint-input"
                    size="60"
                    dropdown="true"
                    (onDropdownClick)="annotationNameOnDropdown($event)"></p-autoComplete>
  </div>

  <div class="form-inline gb-constraint-child-container">
    <label>Annotation value: </label>
    <p-autoComplete #autoComplete
                    [(ngModel)]="selectedAnnotationValue"
                    [suggestions]="searchedAnnotationValues"
                    (completeMethod)="annotationValueOnSearch($event)"
                    [style]="{'width':'100%'}"
                    [inputStyle]="{'width':'100%'}"
                    styleClass="gb-concept-constraint-input"
                    size="60"
                    dropdown="true"
                    (onDropdownClick)="annotationValueOnDropdown($event)"></p-autoComplete>
  </div>

  <!-- ---------- more options ---------- -->
  <div class="gb-constraint-child-container" style="margin-top: 2px">
    <p-panel [collapsed]="!showMoreOptions">
      <p-header class="form-inline" style="margin-left: -0.8em">
        <button type="button"
                (click)="toggleMoreOptions()"
                class="btn btn-outline-secondary">
          and more options
        </button>
      </p-header>

      <!-- genomic zygosity -->
      <div class="form-inline" style="margin-top: -1em">
        <b>Zygosity</b>
        <p-checkbox [(ngModel)]="zygosityHomozygous" label="homozygous" binary="true"></p-checkbox>
        <p-checkbox [(ngModel)]="zygosityHeterozygous" label="heterozygous" binary="true"></p-checkbox>
        <p-checkbox [(ngModel)]="zygosityUnknown" label="unknown" binary="true"></p-checkbox>
      </div>

    </p-panel>
    <br>
  </div>

</div>
