<div class="{{containerClass}}">
  <!-- Remove Button -->
  <button *ngIf="!isRoot"
          type="button"
          class="btn btn-outline-danger btn-sm pull-right gb-constraint-remove-btn"
          (click)="remove()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>

  <gb-combination-constraint *ngIf="constraint.className === 'CombinationConstraint' "
                             [constraint]="constraint"></gb-combination-constraint>
  <gb-concept-constraint *ngIf="constraint.className === 'ConceptConstraint' "
                         [constraint]="constraint"></gb-concept-constraint>
  <gb-study-constraint *ngIf="constraint.className === 'StudyConstraint' "
                       [constraint]="constraint"></gb-study-constraint>
  <gb-subject-set-constraint *ngIf="constraint.className === 'SubjectSetConstraint' "
                             [constraint]="constraint"></gb-subject-set-constraint>
  <gb-pedigree-constraint *ngIf="constraint.className === 'PedigreeConstraint' "
                             [constraint]="constraint"></gb-pedigree-constraint>
</div>
