@import '../node_modules/bootstrap/dist/css/bootstrap.css';

.loading-message {
  color: #369;
  font-size: 300%;
  text-align: center;
  padding: 200px;
  opacity: .8;
}

body {
  font-family: "Avenir Next";
}

/* Fix height of autocomplete dropdown button. Editing component css doesn't work. */
.ui-autocomplete-dropdown.ui-button {
  height: 38px;
}

.ui-autocomplete-multiple-container {
  position: relative;
  top: 4px;
}

/* Change input placeholder text color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: lightgray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

.form-control::-webkit-input-placeholder { color: lightgray; }
.form-control:-moz-placeholder { color: lightgray; }
.form-control::-moz-placeholder { color: lightgray; }
.form-control:-ms-input-placeholder { color: lightgray; }
