@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
  All elements have padding and border
  included in the element's total width and height
 */
* {
  box-sizing: border-box;
}

body {
  background-color: #FCFCFC;
  cursor: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}

.loading-message {
  color: #339C90;
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  text-align: center;
  padding: 200px;
  opacity: .8;
  border-color: transparent;
}

/*
 * Make the font size in the tree smaller
 */
p-treenode {
  font-size: small;
}

/*
 * Make the font size in the saved patient-set list smaller
 */
p-dataList {
  font-size: small;
}

/*
 * Change the color theme of the accordion in data-selection to clinical green
 */
md2-accordion-tab.md2-accordion-tab-active>.md2-accordion-header {
  border-color: #339C90 !important;
  box-shadow: 0 1px 0 #339C90 !important;
}

/*
 * style fix for hiding the border in tab menu bar
 */
body .ui-tabmenu-nav {
  border: none;
  background-color: #FCFCFC;
}

/*
 * style fix for hiding the border in data list in saved patient sets in the side panel
 */
body .ui-widget-content {
  border: none;
}

/*
 * style fix to add padding for highlighted tree nodes
 * padding: top, right, bottom, left
 */
body .ui-treenode-label.ui-corner-all.ui-state-highlight {
  background-color: #0365AF !important;
  padding: 1px 3px 1px 3px !important;
}

/*
 * style fix for the primeng tree-container in the side-panel
 */
body .gb-tree-container {
  width: auto;
  background-color: transparent;
  border: none;
}

/*
 * style class for loading tree nodes and patient counts
 */
body .gb-spinner {
  display: none;
  visibility: hidden;
}

body .gb-spinner.loading {
  display: inline-block;
  visibility: visible;
}

/*
 * style for a patient-set item on the side panel
 */
body .gb-patient-set-item {
  padding: 2px 2px 2px 6px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fafafa;
  border: 1px solid #D5D5D5;
}

/*
 * Style for the search box in the tree-node accordion on the left side
 */
.gb-tree-filter-input > input{
  font-size: small !important;
  height: 1.8em;
  min-width: 150px;
}


/* Fix height of autocomplete dropdown button. Editing component css doesn't work. */
.ui-autocomplete-dropdown.ui-button {
  height: 38px;
}

.ui-autocomplete-multiple > .ui-autocomplete-dropdown.ui-button {
  height: 46px;
}

/*
 * Fix the width of placeholder in multiple autocomplete input field
 */
body .ui-autocomplete-input-token input {
  width: 15em;
}

/* Fix multiple autocomplete dropdown button new line break */
.ui-autocomplete {
  display: inline-flex;
}

.v-align-center {
  display: flex;
  align-items: center;
}

/*
 * Change the primeng data table border to lightgrey
 */
.ui-datatable .ui-datatable-thead>tr>th,
.ui-datatable .ui-datatable-tfoot>tr>td,
.ui-datatable .ui-datatable-data>tr>td {
  border-color: lightgrey;
}


/* Change input placeholder text color */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: lightgray;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: lightgray;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: lightgray;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgray;
}

.form-control::-webkit-input-placeholder { color: lightgray; }
.form-control:-moz-placeholder { color: lightgray; }
.form-control::-moz-placeholder { color: lightgray; }
.form-control:-ms-input-placeholder { color: lightgray; }

.fa-plus {
  color: lightgray;
}

/*
 * shrink the size of legend header of a p-fieldset
 */
legend {
  font-size: 1em;
}

/*
 * tree node styles for filtering
 */
.disabled-treenode {
  display: none;
}

.highlight-treenode {
  background-color: #ffa27f !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

/*
 * A marker css class to indicate if a tree node is leaf or not,
 * should be left empty
 */
.is-not-leaf {}
