@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.loading-message {
  color: #369;
  font-size: 300%;
  text-align: center;
  padding: 200px;
  opacity: .8;
}

body {
  font-family: "Avenir Next";
}

/* Fix height of autocomplete dropdown button. Editing component css doesn't work. */
.ui-autocomplete-dropdown.ui-button {
  height: 38px;
}
