<div>
  <div class="container form-inline">
    <!--<button type="button" (click)="expandAll(true)"-->
            <!--class="btn btn-primary btn-sm gb-data-selection-control-btn">Expand All</button>-->
    <!--<span>&nbsp;</span>-->
    <button type="button" (click)="expandAll(false)"
            class="btn btn-primary btn-sm gb-data-selection-control-btn">Collapse All</button>
    <span style="color: lightgray">&nbsp;&middot;&nbsp;</span>
    <button type="button" (click)="checkAll(true)"
            class="btn btn-primary btn-sm gb-data-selection-control-btn">Check All</button>
    <span>&nbsp;</span>
    <button type="button" (click)="checkAll(false)"
            class="btn btn-primary btn-sm gb-data-selection-control-btn">Check None</button>
    <span style="color: lightgray">&nbsp;&middot;&nbsp;</span>
    <button type="button" (click)="importCriteria()"
              class="btn btn-primary btn-sm gb-data-selection-control-btn float-right">Import Criteria</button>
    <input id="step2CriteriaFileUpload"
           type="file"
           style="display: none"/>
  </div>

  <div *ngIf="!isTreeNodeLoadingComplete" style="padding: 20px;">
    <i class="fa fa-circle-o-notch fa-spin"></i> loading tree nodes
  </div>

  <p-tree [value]="projectionTreeData"
          selectionMode="checkbox"
          (onNodeSelect)="updateCounts()"
          (onNodeUnselect)="updateCounts()"
          [(selection)]="selectedProjectionTreeData"
          styleClass="gb-projection-tree-container">
  </p-tree>
</div>
