<div>
  <div class="container row">
    <button type="button" (click)="checkAll(true)"
            class="btn btn-secondary btn-sm">Check All</button>
    <span>&nbsp;</span>
    <button type="button" (click)="checkAll(false)"
            class="btn btn-secondary btn-sm">Check None</button>
  </div>
  <p-tree [value]="projectionTreeData"
          selectionMode="checkbox"
          (onNodeSelect)="updateCounts($event)"
          (onNodeUnselect)="updateCounts($event)"
          [(selection)]="selectedProjectionTreeData"
          styleClass="gb-projection-tree-container">
  </p-tree>
</div>
