<div id="tree-nodes-component">

  <!--the search/filter input-->
  <!-- todo: disable the search-box until a better solution is designed
  <div>
    <p-autoComplete [(ngModel)]="searchTerm"
                    styleClass="gb-tree-filter-input"
                    placeholder="Filter tree nodes"
                    (onClear)="onFiltering($event)"
                    (completeMethod)="onFiltering($event)"></p-autoComplete>
    <button class="btn btn-secondary btn-sm gb-treenodes-filter-btn"
            (click)="clearFilter()"
            type="button">clear
    </button>
    <div *ngIf="hits > 0" class="gb-treenodes-filter-result">
      {{hits}} results found
    </div>
  </div>
  -->

  <!-- the tree itself -->
  <p-tree [value]="treeNodeService.rootTreeNodes"
          (onNodeExpand)="expandNode($event)"
          draggableNodes="true"
          styleClass="gb-tree-container"></p-tree>

  <!-- the metadata popup 
  <p-overlayPanel #treeNodeMetadataPanel
                  [dismissable]="true"
                  [showCloseIcon]="true">

    <div *ngFor="let item of metadataContent">
      <div class="ui-grid-row gb-metadata-row">
        {{item.key}}: {{item.val}}
      </div>
    </div>
  </p-overlayPanel>
  -->


  <!-- the loading indicator -->
  <div *ngIf="treeNodeService.isLoading" style="margin: auto;">
    <p class="loading-blink"><span>•</span><span>•</span><span>•</span></p>
  </div>

</div>

