.gb-metadata-row {
  font-size: small;
}

.gb-treenodes-filter-btn {
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  color: gray;
}

.gb-treenodes-filter-result {
  font-size: small;
  color: grey;
  padding-top: 3px;
  padding-left: 5px;
}
